# packages in environment at /Users/jessicatan/miniconda3/envs/Jupyter_Dock:
#
# Name                           Version          Build                   Channel
annotated-types                  0.7.0            pypi_0                  pypi
anyio                            3.7.1            pyhd8ed1ab_0            conda-forge
appnope                          0.1.4            pyhd8ed1ab_0            conda-forge
argon2-cffi                      23.1.0           pyhd8ed1ab_0            conda-forge
argon2-cffi-bindings             21.2.0           py38hb192615_4          conda-forge
arrow                            1.3.0            pyhd8ed1ab_0            conda-forge
asttokens                        3.0.0            pyhd8ed1ab_0            conda-forge
async-lru                        2.0.4            pyhd8ed1ab_0            conda-forge
attrs                            24.2.0           pyh71513ae_0            conda-forge
babel                            2.16.0           pyhd8ed1ab_0            conda-forge
backcall                         0.2.0            pyh9f0ad1d_0            conda-forge
backports                        1.0              pyhd8ed1ab_4            conda-forge
backports.zoneinfo               0.2.1            py38hb192615_8          conda-forge
beautifulsoup4                   4.12.3           pyha770c72_0            conda-forge
bel-resources                    0.0.3            pypi_0                  pypi
biopython                        1.83             py38h336bac9_0          conda-forge
bioregistry                      0.11.17          pypi_0                  pypi
bleach                           6.1.0            pyhd8ed1ab_0            conda-forge
boost                            1.74.0           py38h1e2c3d9_5          conda-forge
boost-cpp                        1.74.0           h32e41df_4              conda-forge
brotli                           1.1.0            hd74edd7_2              conda-forge
brotli-bin                       1.1.0            hd74edd7_2              conda-forge
brotli-python                    1.0.9            py38h2b1e499_8          conda-forge
bzip2                            1.0.8            h99b78c6_7              conda-forge
c-ares                           1.34.5           h5505292_0              conda-forge
ca-certificates                  2025.4.26        hbd8a1cb_0              conda-forge
cached-property                  1.5.2            hd8ed1ab_1              conda-forge
cached_property                  1.5.2            pyha770c72_1            conda-forge
cairo                            1.16.0           he69dfd1_1008           conda-forge
certifi                          2024.8.30        pyhd8ed1ab_0            conda-forge
cffi                             1.17.0           py38h858044d_0          conda-forge
cftime                           1.6.4            py38h9f76b62_0          conda-forge
charset-normalizer               3.4.0            pyhd8ed1ab_0            conda-forge
click                            8.1.7            unix_pyh707e725_0       conda-forge
click-plugins                    1.1.1            pypi_0                  pypi
colorama                         0.4.6            pyhd8ed1ab_0            conda-forge
comm                             0.2.2            pyhd8ed1ab_0            conda-forge
curies                           0.7.10           pypi_0                  pypi
curl                             7.88.1           h9049daf_0              conda-forge
cycler                           0.12.1           pyhd8ed1ab_0            conda-forge
cython                           0.29.34          py38h2b1e499_0          conda-forge
debugpy                          1.6.7            py38h2b1e499_0          conda-forge
decorator                        5.1.1            pyhd8ed1ab_0            conda-forge
defusedxml                       0.7.1            pyhd8ed1ab_0            conda-forge
dill                             0.3.9            pyhd8ed1ab_0            conda-forge
entrypoints                      0.4              pyhd8ed1ab_0            conda-forge
exceptiongroup                   1.2.2            pyhd8ed1ab_0            conda-forge
executing                        2.1.0            pyhd8ed1ab_0            conda-forge
fasteners                        0.17.3           pyhd8ed1ab_0            conda-forge
fontconfig                       2.13.94          heb65262_0              conda-forge
fonttools                        4.53.1           py38h3237794_0          conda-forge
fqdn                             1.5.1            pyhd8ed1ab_0            conda-forge
freetype                         2.10.4           h17b34a0_1              conda-forge
gettext                          0.21.1           h0186832_0              conda-forge
greenlet                         2.0.2            py38h2b1e499_0          conda-forge
griddataformats                  1.0.1            pyhd8ed1ab_0            conda-forge
gsd                              3.3.1            py38h9f76b62_0          conda-forge
h11                              0.14.0           pyhd8ed1ab_0            conda-forge
h2                               4.1.0            pyhd8ed1ab_0            conda-forge
h5py                             3.8.0            nompi_py38h2475068_100  conda-forge
hdf4                             4.2.15           h1a38d6a_5              conda-forge
hdf5                             1.12.2           nompi_ha7af310_101      conda-forge
hpack                            4.0.0            pyh9f0ad1d_0            conda-forge
httpcore                         1.0.7            pyh29332c3_1            conda-forge
httpx                            0.27.2           pyhd8ed1ab_0            conda-forge
humanize                         4.10.0           pypi_0                  pypi
hyperframe                       6.0.1            pyhd8ed1ab_0            conda-forge
hypothesis                       6.122.1          pyha770c72_0            conda-forge
icu                              68.2             hbdafb3b_0              conda-forge
idna                             3.10             pyhd8ed1ab_0            conda-forge
importlib-metadata               8.5.0            pyha770c72_0            conda-forge
importlib_metadata               8.5.0            hd8ed1ab_1              conda-forge
importlib_resources              6.4.5            pyhd8ed1ab_0            conda-forge
iniconfig                        2.0.0            pyhd8ed1ab_0            conda-forge
ipykernel                        6.29.5           pyh57ce528_0            conda-forge
ipython                          8.12.2           pyhd1c38e8_0            conda-forge
ipywidgets                       8.1.5            pyhd8ed1ab_0            conda-forge
isoduration                      20.11.0          pyhd8ed1ab_0            conda-forge
jbig                             2.1              h3422bc3_2003           conda-forge
jedi                             0.19.1           pyhd8ed1ab_0            conda-forge
jinja2                           3.1.4            pyhd8ed1ab_0            conda-forge
joblib                           1.4.2            pyhd8ed1ab_0            conda-forge
jpeg                             9e               h1a8c8d9_3              conda-forge
json5                            0.9.25           pyhd8ed1ab_0            conda-forge
jsonpointer                      3.0.0            py38h10201cd_0          conda-forge
jsonschema                       4.23.0           pyhd8ed1ab_0            conda-forge
jsonschema-specifications        2024.10.1        pyhd8ed1ab_0            conda-forge
jsonschema-with-format-nongpl    4.23.0           hd8ed1ab_1              conda-forge
jupyter-lsp                      2.2.5            pyhd8ed1ab_0            conda-forge
jupyter_client                   8.6.3            pyhd8ed1ab_0            conda-forge
jupyter_core                     5.7.2            pyh31011fe_1            conda-forge
jupyter_events                   0.10.0           pyhd8ed1ab_0            conda-forge
jupyter_server                   2.7.0            pyhd8ed1ab_0            conda-forge
jupyter_server_terminals         0.5.3            pyhd8ed1ab_0            conda-forge
jupyterlab                       4.2.5            pyhd8ed1ab_0            conda-forge
jupyterlab_pygments              0.3.0            pyhd8ed1ab_1            conda-forge
jupyterlab_server                2.27.3           pyhd8ed1ab_0            conda-forge
jupyterlab_widgets               3.0.13           pyhd8ed1ab_0            conda-forge
khronos-opencl-icd-loader        2024.10.24       h5505292_0              conda-forge
kiwisolver                       1.4.4            py38h9dc3d6a_1          conda-forge
krb5                             1.20.1           h69eda48_0              conda-forge
lcms2                            2.12             had6a04f_0              conda-forge
lerc                             2.2.1            h9f76cd9_0              conda-forge
libaec                           1.0.6            hb7217d7_1              conda-forge
libblas                          3.9.0            20_osxarm64_openblas    conda-forge
libbrotlicommon                  1.1.0            hd74edd7_2              conda-forge
libbrotlidec                     1.1.0            hd74edd7_2              conda-forge
libbrotlienc                     1.1.0            hd74edd7_2              conda-forge
libcblas                         3.9.0            20_osxarm64_openblas    conda-forge
libcurl                          7.88.1           h9049daf_0              conda-forge
libcxx                           14.0.6           h848a8c0_0
libdeflate                       1.7              h27ca646_5              conda-forge
libedit                          3.1.20191231     hc8eb9b7_2              conda-forge
libev                            4.33             h93a5062_2              conda-forge
libffi                           3.4.4            hca03da5_1
libgfortran                      14.2.0           heb5dd2a_105            conda-forge
libgfortran5                     14.2.0           h2c44a93_105            conda-forge
libglib                          2.68.4           h67e64d8_1              conda-forge
libiconv                         1.18             hfe07756_1              conda-forge
liblapack                        3.9.0            20_osxarm64_openblas    conda-forge
libnetcdf                        4.8.1            nompi_h996a5af_104      conda-forge
libnghttp2                       1.52.0           hae82a92_0              conda-forge
libopenblas                      0.3.25           openmp_h6c19121_0       conda-forge
libpng                           1.6.37           hf7e6567_2              conda-forge
libsodium                        1.0.18           h27ca646_1              conda-forge
libssh2                          1.11.0           h7a5bd25_0              conda-forge
libtiff                          4.3.0            hc6122e1_1              conda-forge
libwebp-base                     1.5.0            h2471fea_0              conda-forge
libxml2                          2.9.12           h538f51a_0              conda-forge
libzip                           1.10.1           ha0bc3c6_3              conda-forge
libzlib                          1.2.13           hfb2fe0b_6              conda-forge
llvm-openmp                      20.1.4           hdb05f8b_0              conda-forge
lz4-c                            1.9.3            hbdafb3b_1              conda-forge
markupsafe                       2.1.5            py38h336bac9_0          conda-forge
matplotlib-base                  3.5.3            py38hffd4f37_0          conda-forge
matplotlib-inline                0.1.7            pyhd8ed1ab_0            conda-forge
mda-xdrlib                       0.2.0            pyhd8ed1ab_0            conda-forge
mdanalysis                       2.4.3            py38hee9ea5e_0          conda-forge
mdanalysistests                  2.4.3            pyhd8ed1ab_0            conda-forge
meeko                            0.5.1            pypi_0                  pypi
mistune                          3.0.2            pyhd8ed1ab_0            conda-forge
mmtf-python                      1.1.3            pyhd8ed1ab_0            conda-forge
more-click                       0.1.2            pypi_0                  pypi
more-itertools                   10.5.0           pypi_0                  pypi
mrcfile                          1.5.3            pyhd8ed1ab_0            conda-forge
msgpack-python                   1.0.5            py38h9dc3d6a_0          conda-forge
multiprocess                     0.70.16          py38h336bac9_0          conda-forge
multisplitby                     0.0.1            pypi_0                  pypi
munkres                          1.1.4            pyh9f0ad1d_0            conda-forge
nbclient                         0.10.2           pyhd8ed1ab_0            conda-forge
nbconvert-core                   7.16.4           pyhff2d567_2            conda-forge
nbformat                         5.10.4           pyhd8ed1ab_0            conda-forge
ncurses                          6.4              h313beb8_0
nest-asyncio                     1.6.0            pyhd8ed1ab_0            conda-forge
netcdf4                          1.6.2            nompi_py38he52ce97_100  conda-forge
networkx                         3.1              pyhd8ed1ab_0            conda-forge
nglview                          3.1.4            pyh620948e_0            conda-forge
notebook                         7.2.2            pyhd8ed1ab_0            conda-forge
notebook-shim                    0.2.4            pyhd8ed1ab_0            conda-forge
numpy                            1.24.4           pypi_0                  pypi
ocl_icd_wrapper_apple            1.0.0            h27ca646_0              conda-forge
olefile                          0.47             pyhd8ed1ab_0            conda-forge
openbabel                        3.1.1            py38h028a5c4_3          conda-forge
openjpeg                         2.4.0            h062765e_1              conda-forge
openmm                           8.0.0            py38hca0f0e8_0_khronos  conda-forge
openssl                          3.5.0            h81ee809_1              conda-forge
overrides                        7.7.0            pyhd8ed1ab_0            conda-forge
packaging                        25.0             pyh29332c3_1            conda-forge
pandas                           2.0.0            py38h61dac83_0          conda-forge
pandocfilters                    1.5.0            pyhd8ed1ab_0            conda-forge
parso                            0.8.4            pyhd8ed1ab_0            conda-forge
patsy                            0.5.6            pyhd8ed1ab_0            conda-forge
pbr                              6.1.0            pyhd8ed1ab_0            conda-forge
pcre                             8.45             hbdafb3b_0              conda-forge
pdbfixer                         1.9              pyh1a96a4e_0            conda-forge
pexpect                          4.9.0            pyhd8ed1ab_0            conda-forge
pickleshare                      0.7.5            py_1003                 conda-forge
pillow                           8.3.2            py38h02acf36_0          conda-forge
pip                              24.2             py38hca03da5_0
pixman                           0.40.0           h27ca646_0              conda-forge
pkgutil-resolve-name             1.3.10           pyhd8ed1ab_1            conda-forge
platformdirs                     4.3.6            pyhd8ed1ab_0            conda-forge
pluggy                           1.5.0            pyhd8ed1ab_0            conda-forge
pooch                            1.8.2            pyhd8ed1ab_0            conda-forge
prolif                           2.0.3            pyhd8ed1ab_0            conda-forge
prometheus_client                0.21.0           pyhd8ed1ab_0            conda-forge
prompt-toolkit                   3.0.48           pyha770c72_0            conda-forge
prompt_toolkit                   3.0.48           hd8ed1ab_1              conda-forge
psutil                           6.0.0            py38h3237794_0          conda-forge
psycopg2-binary                  2.9.10           pypi_0                  pypi
ptyprocess                       0.7.0            pyhd3deb0d_0            conda-forge
pure_eval                        0.2.3            pyhd8ed1ab_0            conda-forge
py3dmol                          2.4.2            pyhd8ed1ab_0            conda-forge
pybel                            0.15.5           pypi_0                  pypi
pycairo                          1.25.0           py38h9795b9d_1          conda-forge
pycparser                        2.22             pyhd8ed1ab_0            conda-forge
pydantic                         2.10.6           pypi_0                  pypi
pydantic-core                    2.27.2           pypi_0                  pypi
pyedr                            0.7.2            pyhd8ed1ab_0            conda-forge
pygments                         2.18.0           pyhd8ed1ab_0            conda-forge
pyparsing                        3.1.4            pyhd8ed1ab_0            conda-forge
pysocks                          1.7.1            pyha2e5f31_6            conda-forge
pystow                           0.5.6            pypi_0                  pypi
pytest                           8.3.4            pyhd8ed1ab_0            conda-forge
python                           3.8.12           hd949e87_1_cpython      conda-forge
python-dateutil                  2.9.0            pyhd8ed1ab_0            conda-forge
python-fastjsonschema            2.20.0           pyhd8ed1ab_0            conda-forge
python-json-logger               2.0.7            pyhd8ed1ab_0            conda-forge
python-tzdata                    2024.2           pyhd8ed1ab_0            conda-forge
python_abi                       3.8              2_cp38                  conda-forge
pytng                            0.3.0            py38h2346e95_0          conda-forge
pytrie                           0.4.0            pypi_0                  pypi
pytz                             2024.2           pyhd8ed1ab_0            conda-forge
pyyaml                           6.0.2            py38h3237794_0          conda-forge
pyzmq                            25.1.1           py38h3de7bb3_2          conda-forge
ratelimit                        2.2.1            pypi_0                  pypi
rdkit                            2024.3.5         pypi_0                  pypi
readline                         8.2              h1a28f6b_0
referencing                      0.35.1           pyhd8ed1ab_0            conda-forge
reportlab                        3.5.68           py38h1ca7581_1          conda-forge
requests                         2.32.3           pyhd8ed1ab_0            conda-forge
requests-file                    2.1.0            pypi_0                  pypi
rfc3339-validator                0.1.4            pyhd8ed1ab_0            conda-forge
rfc3986-validator                0.1.1            pyh9f0ad1d_0            conda-forge
rpds-py                          0.20.0           py38h186058e_0          conda-forge
scikit-learn                     1.2.2            py38h4253db4_1          conda-forge
scipy                            1.10.1           py38h78649e0_2          conda-forge
seaborn                          0.13.2           hd8ed1ab_2              conda-forge
seaborn-base                     0.13.2           pyhd8ed1ab_2            conda-forge
send2trash                       1.8.0            pyhd8ed1ab_0            conda-forge
setuptools                       75.1.0           py38hca03da5_0
six                              1.16.0           pyh6c4a22f_0            conda-forge
sniffio                          1.3.1            pyhd8ed1ab_0            conda-forge
sortedcontainers                 2.4.0            pyhd8ed1ab_0            conda-forge
soupsieve                        2.6              pyhd8ed1ab_0            conda-forge
sqlalchemy                       2.0.32           py38h3237794_0          conda-forge
sqlite                           3.45.3           h80987f9_0
stack_data                       0.6.2            pyhd8ed1ab_0            conda-forge
statsmodels                      0.14.1           py38hd97cf01_0          conda-forge
tabulate                         0.9.0            pypi_0                  pypi
terminado                        0.18.1           pyh31c8845_0            conda-forge
threadpoolctl                    3.5.0            pyhc1e730c_0            conda-forge
tidynamics                       1.1.2            pyhd8ed1ab_0            conda-forge
tinycss2                         1.4.0            pyhd8ed1ab_0            conda-forge
tk                               8.6.14           h6ba3021_0
tomli                            2.0.2            pyhd8ed1ab_0            conda-forge
tornado                          6.4.1            py38h3237794_0          conda-forge
tqdm                             4.67.1           pyhd8ed1ab_0            conda-forge
traitlets                        5.14.3           pyhd8ed1ab_0            conda-forge
types-python-dateutil            2.9.0.20241003   pyhff2d567_0            conda-forge
typing-extensions                4.12.2           hd8ed1ab_0              conda-forge
typing_extensions                4.12.2           pyha770c72_0            conda-forge
typing_utils                     0.1.0            pyhd8ed1ab_0            conda-forge
tzdata                           2025b            h78e105d_0              conda-forge
unicodedata2                     15.1.0           py38hb192615_0          conda-forge
uri-template                     1.3.0            pyhd8ed1ab_0            conda-forge
urllib3                          2.2.3            pyhd8ed1ab_0            conda-forge
vina                             1.2.7            pypi_0                  pypi
wcwidth                          0.2.13           pyhd8ed1ab_0            conda-forge
webcolors                        24.8.0           pyhd8ed1ab_0            conda-forge
webencodings                     0.5.1            pyhd8ed1ab_2            conda-forge
websocket-client                 1.8.0            pyhd8ed1ab_0            conda-forge
wheel                            0.44.0           py38hca03da5_0
widgetsnbextension               4.0.13           pyhd8ed1ab_0            conda-forge
xz                               5.6.4            h80987f9_1
yaml                             0.2.5            h3422bc3_2              conda-forge
zeromq                           4.3.5            h313beb8_0
zipp                             3.21.0           pyhd8ed1ab_0            conda-forge
zlib                             1.2.13           hfb2fe0b_6              conda-forge
zstandard                        0.19.0           py38hb991d35_0          conda-forge
zstd                             1.5.0            h861e0a7_0              conda-forge
