{% extends 'base.html' %}
{% block content %}
    <body style="background-image:none;">
    <index></index>
    </body>
    <script id="index-template"
            type="x-html-template">
        <div id="table-wrapper">
            <div v-if="fdaError"><h1>No info was found on this drug from fda.gov</h1></div>
            <div><p>Last updated: {% verbatim %}{{ lastUpdated }}{% endverbatim %}</p></div>
            <div id="fda-info"><h2>FDA Side Effect Data for {% verbatim %}{{ drugName }}{% endverbatim %}</h2></div>
            <table id="FDATable"
                   ref="datatable"
                   class="table table-hover table-striped d-none">
                <thead>
                <tr>
                    <th>Term</th>
                    <th>Count</th>
                </tr>
                </thead>
            </table>
        </div>
    </script>
    <script type="application/javascript">
        var fdaData = {{ fda_data | safe }};
    </script>
    <script type="application/javascript">
        Vue.component("index", {
            template: "#index-template",
            data: function () {
                return {
                    fdaData: fdaData,
                    dtTable: null,
                    fdaError: false,
                    lastUpdated: fdaData.meta.last_updated,
                }
            },
            computed: {
                drugName: function () {
                        var currentURLString = window.location.href;
                        var currentURL = new URL(currentURLString);
                        return currentURL.searchParams.get("drug_name");
                    },
            },
            mounted: function () {
                var currentURLString = window.location.href;
                var currentURL = new URL(currentURLString);
                var drugName = currentURL.searchParams.get("drug_name");
                document.title = drugName;
                if (this.fdaData["error"] != null) {
                    this.fdaError = true;
                    return;
                }
                this.dtTable = $(this.$refs.datatable).DataTable({
                    dom: "lBfrtip",
                    autoWidth: false,
                    initComplete: function () {
                        this.removeClass("d-none");
                    },
                    buttons: [{
                        extend: "csv",
                        exportOptions: {
                            columns: ":visible",
                            rows: ":visible",
                        }
                    }],
                    data: fdaData.results,
                    columns: RenderColumns(this),
                })
            },
        });
    </script>
    <script type="application/javascript">
        function RenderColumns(vueComponent) {
            return [
                {
                    data: "term",
                    defaultContent: "",
                },
                {
                    data: "count",
                    defaultContent: 0,
                }
            ]
        }
    </script>
{% endblock %}