{% extends "base.html" %}
{% block content %}
    <head>
        <title>Sider Searcher</title>
    </head>
        <body style="background-image:none;">
        <h1>Sider Searcher</h1>
        <p>
            Sider Searcher is a tool used to group drug side effects and find which drugs appear most in the
            group of side effects. Side effect info is pulled from <a href="http://sideeffects.embl.de/">SIDER</a><br>
            Note: Placebo side effects have been removed. Drug names in the following tables are links to get updated side effects from the <a href="https://www.fda.gov">FDA</a>.<br>
            <b>Instructions:</b><br>
            1. Add the side effects you are interested in by clicking the check button in the add column. <br>
            2. Hit Submit <br>
            3. You will be redirected to a page with a filtered list of the side effects you chose <br>
            4. From that page you can view the drugs ranked by count by clicking on the 'View Drugs Ranked' button<br>
            5. Both result pages are available for download in CSV format.
        </p>
        <table id="table"
               class="table table-hover table-striped d-none">
            <thead>
            <tr>
                <th>SideEffect</th>
                <th data-orderable="false"
                    data-name="Add">
                    Add
                </th>
            </tr>
            </thead>
            <tbody>
            {% for s in object_list %}
                <tr>
                    <td>{{ s.side_effect }}</td>
                    <td class="actions">
                        <button type="submit"
                                class="btn btn-outline-secondary list-add-btn"
                                style="min-width: 40px">
                            <span class="fas fa-plus"></span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    <div class="submit-btn-container"
         style="text-align: right; margin-top: 10px"
         onclick="location.href='{% url 'pharmacogenomics:side-effect-results' %}'">
        <button type="submit"
                id="side-effect-list-submit"
                class="btn btn-primary submit-btn" disabled>
            Submit
        </button>
    </div>
</body>

    <script type="text/javascript">
        var dtTable;
        var sideEffectList = [];

        $(document).ready(function () {
            WireUpDataTable();
        });

        function WireUpDataTable() {
            dtTable = $("#table")
                .on("init.dt", function () {
                    $("#table").removeClass("d-none");
                })
                .DataTable({});
        }

        $("#table").on("click", ".list-add-btn", function () {
            var $tr = $(this).closest('tr');
            var data = dtTable.row($tr).data();
            if ($(this).find("svg").hasClass("fa-plus")) {
                $(this).find("svg").removeClass("fa-plus").addClass("fa-times");
                sideEffectList.push(data[0]);
                $.ajax({
                    type: 'POST',
                    url: '{% url 'pharmacogenomics:side-effect' %}',
                    data: {'sideEffectList': sideEffectList}
                });
            } else if ($(this).find("svg").hasClass("fa-times")) {
                $(this).find("svg").removeClass("fa-times").addClass("fa-plus");
                var index = sideEffectList.indexOf(data[0]);
                sideEffectList.splice(index, 1);
                $.ajax({
                    type: 'POST',
                    url: '{% url 'pharmacogenomics:side-effect' %}',
                    data: {'sideEffectList': sideEffectList}
                });
            }

            if (sideEffectList.length === 0) {
                $("#side-effect-list-submit").prop("disabled", true);
            }

            if (sideEffectList.length > 0) {
                $("#side-effect-list-submit").prop("disabled", false);
            }
        });
    </script>

{% endblock content %}
