{% extends "base.html" %}
{% load static %}
{% block content %}
    <body style="background-image:none">
    <h1>Sider Searcher - Drugs Ranked</h1>
    <p>
        Each Drug ID below downloads a 3D structure from <a href="https://pubchem.ncbi.nlm.nih.gov/">PubChem</a>.
        PubChem may not have a 3D structure of every substance below, look on <a href="https://zinc15.docking.org/substances/home/">ZINC15</a>
        if the link below does not download the 3D structure.
    </p>
    <table id="drugs-ranked"
           class="table table-hover table-striped d-none">
        <thead>
        <tr>
            <th>DrugName</th>
            <th>DrugID</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        {% for d in object_list %}
            <tr>
                <td><a href={% url 'pharmacogenomics:fda' %}?drug_name={{ d.drug_name }}>{{ d.drug_name }}</a></td>
                <td><a href="https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/CID/{{ d.drug_id | slice:'3:' }}/record/SDF/?record_type=3d&response_type=save&response_basename=Conformer3D_CID_{{ d.drug_id | slice:'3:' }}">{{ d.drug_id }}</a></td>
                <td>{{ d.dcount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </body>

    <script>
        var dtTable;

        $(document).ready(function () {
            WireUpDataTable();
        });

        function WireUpDataTable() {
            dtTable = $("#drugs-ranked")
                .on("init.dt", function () {
                    $("#drugs-ranked").removeClass("d-none");
                })
                .DataTable({
                    dom: 'lBfrtip',
                    buttons: [{
                        extend: "csv",
                        exportOptions: {
                            columns: ":visible",
                            rows: ":visible",
                        }
                    }],
                    "order": [[2, "desc"]]
                });
        }
    </script>

{% endblock content %}