{% extends "base.html" %}
{% block content %}
    <head>
        <title>Sider Searcher</title>
    </head>
    <body style="background-image:none;">
    <h1>Sider Searcher</h1>
    <p>
        Sider Searcher is a tool used to group drug side effects and find which drugs appear most in the
        group of side effects. Side effect info is pulled from <a href="http://sideeffects.embl.de/">SIDER</a><br>
        Note: Placebo side effects have been removed. Drug names in the following tables are links to get updated side
        effects from the <a href="https://www.fda.gov">FDA</a>.<br>
        <b>Instructions:</b><br>
        1. Add the side effects you are interested in by clicking the plus button in the add column. <br>
        2. Hit Submit <br>
        3. You will be redirected to a page with a filtered list of the side effects you chose <br>
        4. From that page you can view the drugs ranked by count by clicking on the 'View Drugs Ranked' button<br>
        5. Both result pages are available for download in CSV format. <br>
        Dataset comes from SIDER Version 4.1 (October 21, 2015)
    </p>
    <index></index>
    </body>

    <script id="index-template"
            type="x-html-template">
        <div id="table-wrapper">
            <table id="table"
                   ref="datatable"
                   class="table table-hover table-striped hidden">
            </table>
            <div style="text-align: right; margin-top: 10px">
                <button type="submit"
                        id="side-effect-list-submit"
                        v-bind:disabled="submitButtonDisabled"
                        v-on:click="viewResults"
                        class="btn btn-primary submit-btn">
                    Submit
                </button>
            </div>
        </div>
    </script>
    <script type="application/javascript">
        var side_effects = {{ object_list | safe }};
    </script>
    <script type="application/javascript">
        Vue.component("index", {
            template: "#index-template",
            data: function () {
                return {
                    dtTable: null,
                    sideEffectList: [],
                };
            },
            computed: {
                submitButtonDisabled: function () {
                    return this.sideEffectList.length <= 0;
                }
            },
            mounted: function () {
                var _this = this;
                this.dtTable = $(this.$refs.datatable).DataTable({
                    data: side_effects,
                    columns: RenderColumns(this),
                    initComplete: function () {
                        this.removeClass("d-none");
                        $("#table tbody").on("click", "td button", function () {
                            var $tr = $(this).closest('tr');
                            var sideEffect = _this.dtTable.row($tr).data()['side_effect'];
                            if (_this.sideEffectList.includes(sideEffect)) {
                                $(this).find("svg").removeClass("fa-times").addClass("fa-plus");
                                _this.removeSideEffect(sideEffect);
                            } else {
                                $(this).find("svg").removeClass("fa-plus").addClass("fa-times");
                                _this.addSideEffect(sideEffect);
                            }
                            $.ajax({
                                type: 'POST',
                                url: '{% url 'pharmacogenomics:side-effect' %}',
                                data: {'sideEffectList': _this.sideEffectList}
                            });
                        });
                    }
                });
            },
            methods: {
                addSideEffect: function (sideEffect) {
                    this.sideEffectList.push(sideEffect);
                },
                removeSideEffect: function (sideEffect) {
                    var index = this.sideEffectList.indexOf(sideEffect);
                    this.sideEffectList.splice(index, 1);
                },
                viewResults: function () {
                    window.location = '{% url 'pharmacogenomics:side-effect-results' %}';
                }
            }
        });
    </script>
    <script type="application/javascript">
        function RenderColumns(vueComponent) {
            return [
                {
                    data: 'side_effect',
                    title: 'Side Effect',
                    name: 'side_effect',
                },
                {
                    data: null,
                    defaultContent: "",
                    orderable: false,
                    title: 'Actions',
                    name: 'Actions',
                    render: function (data, type) {
                        var response = "";
                        if (type === "display") {
                            response = document.createElement("div");
                            var vueInstance = new Vue({
                                template: "#actions-col-template",
                                methods: {
                                    handleButtonClick: function () {
                                        vueComponent.addSideEffect();
                                    },
                                },
                            }).$mount();
                            response.appendChild(vueInstance.$el);
                        }
                        return response.innerHTML;
                    }
                }
            ]
        }
    </script>

    <script id="actions-col-template"
            type="x-html-template">
        <button type="submit"
                class="btn btn-outline-secondary list-add-btn"
                style="min-width: 40px"
                title="Add Side Effect">
            <span><i class="fa fa-plus"></i></span>
        </button>
    </script>

{% endblock content %}
