{% extends "base.html" %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <body>

    <div class="row" style="text-align: center; margin-top: 30px;">
        <div class="col-lg">
            <h1 style="letter-spacing: 35px;font-size: 60px;">
                Reed Lab
            </h1>
        </div>
    </div>
    <div class="container">
        <hr>
    </div>


    <div class="container">
        <img src="{% static 'images/collage.jpg' %}" class="img-fluid" alt="Responsive image">
    </div>
    <p style="
    text-align: center;
    font-size: 21px;
    margin: 40px 200px;">
        Professor Reed's research program falls at the interface between nanoscience and medicine. The first focus of
        his
        research is on nanoparticle-lipid conjugates as membrane mimics. The second is on nanomaterials for
        phototherapeutic
        applications and the third is utilizing artificial Intelligence, informed by computational chemistry, to predict
        what genetic patterns cause some people to be harmed by the drugs that are meant to help them.
    </p>
    <div class="container">
        <div class="row" style=" background-color:#B2CEDE; font-size: 30px; margin-top: 20px;">
            <div class="col-lg">
                <p style="text-align: center; padding-top: 15px;">Interested in joining the lab?
                    <a href="{% url 'pharmacogenomics:contact' %}"
                        style="text-decoration: none;">
                    Contact Dr. Reed
                    </a> for information about current openings.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
    </div>

    <div class="container">
        <div class="row" style="text-align: left; margin-top: 40px;">
            <div class="col-lg" style="margin-top: 40px;">
                <h2>Selected Publications</h2>
                <a href="https://scholar.google.com/citations?hl=en&user=f3CHyKEAAAAJ&view_op=list_works&sortby=pubdate">Google
                    Scholar</a>

                <div class="row" style="text-align: left; margin-top: 20px;;font-size: 21px;">
                    <div class="col-lg">
                        <p> Computational study on the removal of photolabile protecting groups by photochemical
                            reactions
                            CH Yang, J Denne, S Reed, H Wang
                            Computational and Theoretical Chemistry 1151, 1-11 <b>2019</b><br>

                            <br>Measurement and multilayer model of cooling of gold nanoparticles: Transient
                            thermoreflectance experiments and multilayer analytical modeling
                            BG Green, SM Budy, SM Reed, ME Siemens
                            Journal of Applied Physics 124 (14), 144301 <b>2018</b><br>

                            <br>Lipid-coated gold nanoparticles and FRET allow sensitive monitoring of liposome
                            clustering
                            mediated by the synaptotagmin-7 C2A domain
                            DJ Hamilton, MD Coffman, JD Knight, SM Reed
                            Langmuir 33 (36), 9222-9230 <b>2017</b> <br>

                            <br>Synthesis and assembly of gold nanoparticles/polymers: Spheres, prisms, octadehra, and
                            rods... oh my!
                            S Budy, D Hamilton, Y Cai, M Knowles, S Reed
                            ABSTRACTS OF PAPERS OF THE AMERICAN CHEMICAL SOCIETY 253 <b>2017</b> <br>

                            <br>Conformational changes in C-reactive protein affect binding to curved membranes in a
                            lipid
                            bilayer model of the apoptotic cell surface
                            AA Alnaas, CL Moon, M Alton, SM Reed, MK Knowles
                            The Journal of Physical Chemistry B 121 (12), 2631-2639 <b>2017</b> <br>

                            <br>Polymer mediated layer-by-layer assembly of different shaped gold nanoparticles
                            SM Budy, DJ Hamilton, Y Cai, MK Knowles, SM Reed
                            Journal of colloid and interface science 487, 336-347 <b>2017</b><br>
                        </p>
                    </div>
                </div>
                <!---- PUBS END---->

            </div>
        </div>
    </div>
    </body>
    </html>
{% endblock content %}