{% extends "pharmacogenomics/base.html" %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>CU Denver Pharmacogenomics Home</title>
    </head>
    <body>


    <div class="row"
         style="font-size: 22px; margin-top: 22px;">
        <a class="col-2 offset-3" href="{% url 'pharmacogenomics:index' %}">Home</a>
        <a class="col-2" href="{% url 'pharmacogenomics:side-effect' %}">SiderSearcher</a>
        <a class="col-2" href="{% url 'pharmacogenomics:people' %}">People</a>
        <a class="col-2" href="{% url 'pharmacogenomics:contact' %}">Contact</a>
    </div>


    <div class="container">
        <div class="row" style="margin-top: 30px;">
            <div class="col offset-3">
                <h1 style="
    letter-spacing: 35px;
    font-size: 60px;">Reed Lab</h1>
            </div>
        </div>
        <hr>
    </div>
{% endblock content %}