{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <body>

    <div class="row justify-content-center" style="font-size:25px">
        <a class="col-2" href={% url 'pharmacogenomics:index' %}>Home</a>
        <a class="col-2" href={% url 'pharmacogenomics:side-effect' %}>SiderSearcher</a>
        <a class="col-2" href={% url 'pharmacogenomics:people' %}>People</a>
        <a class="col-2" href={% url 'pharmacogenomics:contact' %}>Contact</a>
    </div>

    <div class="container">
        <div class="row" style="text-align: center; color:grey; margin-top: 30px;">
            <div class="col">
                <h1 style="
    letter-spacing: 35px;
    font-size: 60px;">Reed Lab</h1>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="{% static 'images/vintage.jpg' %}" class="img-fluid" alt="Responsive image">
                <hr>
                <p style="font-size: 21px;">Lab member Key:<br> PD = Post Doctorate <br>GS = Ph.D. Student<br> MS = Masters
                    Student<br>UG = Undergraduate Student<br> HS = High School Student<br> PB = Postbaccalaureate</p>

            </div>

            <div class="col-3">
                <h2 style="color: #B2CEDE;">Lab Members </h2>
                <ul style="list-style-type:none; font-size: 21px; padding-left: 0;">
                    <li> Zijue Huang (MS)</li>
                    <li> Anna Jensen (UG)</li>
                    <li> Henry Tan (MS)</li>
                    <li> Bao Pham (UG)</li>
                    <li>Marleene Ibarra (HS)</li>
                    <li>Celestlin H. (HS)</li>
                    </ul>
            </div>
            <div class="col-3">
                <h2>Alumni </h2>
                <ul style="list-style-type:none; font-size: 21px; color: grey; padding-left: 0;">
                    <li>Padua Xiong (UG)</li>
                    <li>Madelyn Hunsley (UG)</li>
                    <li>Stella Aniagyei (PD)</li>
                    <li>Linnsey Ramirez (UG)</li>
                    <li>Rupinder Kaur (UG)</li>
                    <li>Andrew Schildkret (UG)</li>
                    <li>Bradley Reid (UG)</li>
                    <li>Lorren Yniguez (UG)</li>
                    <li>Mark Cianfichi (UG)</li>
                    <li>Sloan Hess (MS)</li>
                    <li>Rebecca Cherry (MS)</li>
                    <li>Heather Depres (MS)</li>
                    <li>Erica Curello (PB)</li>
                    <li>Min Wang (PD)
                    <li>Benjamin Ayres (GS)</li>
                    <li>Reid Messersmith (MS)</li>
                    <li>Aundrea Piper (UG)</li>
                    <li>Leonid Zukin (UG)</li>
                    <li>Heather Hodges (PB)</li>
                    <li>Marilyn Mackiewicz (PD)</li>
                    <li>Anna Putnam (UG)</li>
                    <li>Bridgette Barron (UG)</li>
                    <li>Paul Joseph Rencit (MS)</li>
                    <li>Bahareh Habibi (UG)</li>
                    <li>Rachel Carlson (HS)</li>
                    <li>Ben Habibi (HS)</li>
                    <li>Joan Kroon (UG)</li>
                    <li>Athena Klock (UG)</li>
                    <li>PaDreyia Lawson (UG)</li>
                    <li>Kristin Little (UG)</li>
                    <li>Virginia Berube (UG)</li>
                    <li>Josh Williams (UG)</li>
                    <li>Hieu Phung (UG)</li>
                    <li>Sarita Sitaula (GS)</li>
                    <li>Melissa Parker (UG)</li>
                    <li>My-Trinh Do (UG)</li>
                </ul>
            </div>
        </div>
    </div>
    </body>
{% endblock content %}