<!DOCTYPE html>
<html>
<head>
<title>Reed Lab|Pharmacogenomics|Oganic chemistry</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Gupter&display=swap" rel="stylesheet">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144184820-1"></script>

<style>
body {
background-image: url("../../static/images/concrete.png");}
h1 {font-family: 'Gupter', serif;}
h2 {font-family: 'Gupter', serif;}
h5 {font-family: 'Gupter', serif;}
p {font-family: 'Gupter', serif;}

a {
    color: grey;
    text-decoration: none;
    background-color: transparent;
}



</style>
</head>
<body>

	<!-----NAV START---->
	<div class="row" 
    style = "margin-left: 397Px;
    font-size: 22px;
	margin-top: 22px;"
>
		
<ul class="nav" style="text-align:center !important>

<li class="nav-item" style="padding-right: 30px; color:grey;">
    <a class="nav-link active" href="index.html">home</a>
  </li>
  <li class="nav-item" style="padding-right: 30px; padding-left: 30px;">
    <a class="nav-link active" href="sider.html">SiderSearcher</a>
  </li>
  <li class="nav-item" style="padding-right: 30px;">
    <a class="nav-link" href="people.html">People</a>
  </li>
  <li class="nav-item" style="padding-right: 30px;">
    <a class="nav-link" href="contact.html">Contact</a>
  </li>
</ul>
</div>
		
		
<!-----NAV END ----->
<div class="container">
<div class="row" style= "text-align: center; color:grey margin-top: 35px; margin-top: 30px;">
    <div class="col-lg">
	<h1 style= "
    letter-spacing: 35px;
    font-size: 60px;">Reed Lab</h1>
	</div>
	</div>
	<hr>
	</div>

<!-----Hero START---->
  <div class="container"> 
  <div class="row">
    <div class="col-6">
<img src="../../static/images/vintage.jpg" class="img-fluid" alt="Responsive image"> <hr>
<p style="font-size: 21px;">Lab member Key:<br> PD = postdoc <br>GS = Ph.D. student<br> MS = masters student<br>UG = undergrad student<br> HS = high school student<br> PB = postbac</p>

</div> 

<div class="col-3">
<h2 style= "color: #B2CEDE;">Lab Members </h2>
<ul style="list-style-type:none; font-size: 21px; padding-left: 0px;">
<li> Zijue Huang (MS)</li>
<li> Anna Jensen (UG)</li>
<li> Henry Tan (MS)</li>
<li> Bao Pham (UG)</li>
<li>Marleene Ibarra (HS)</li>
<li>Celestlin H. (HS)</li>
<ul/>
</div>
<div class="col-3">
<h2 >Alumni </h2>
<ul style="list-style-type:none; font-size: 21px; color: grey; padding-left: 0px;">
<li>Padua Xiong (UG) </li>

<li>Madelyn Hunsley (UG) </li>

<li>Stella Aniagyei (PD)</li>

<li>Linnsey Ramirez (UG)</li>
 
<li>Rupinder Kaur (UG)</li>

<li>Andrew Schildkret (UG)</li>

<li>Bradley Reid (UG)</li>

<li>Lorren Yniguez (UG)</li>

<li>Mark Cianfichi (UG)</li>

<li>Sloan Hess (MS)</li>

<li>Rebecca Cherry (MS)</li>

<li>Heather Depres (MS)</li>

<li>Erica Curello (PB)</li>

<li>Min Wang (PD)

<li>Benjamin Ayres (GS)</li>

<li>Reid Messersmith (MS)</li>

<li>Aundrea Piper (UG)</li>

<li>Leonid Zukin (UG)</li>

<li>Heather Hodges (PB)</li>

<li>Marilyn Mackiewicz (PD)</li>

<li>Anna Putnam (UG)</li>

<li>Bridgette Barron (UG)</li>

<li>Paul Joseph Rencit (MS)</li>

<li>Bahareh Habibi (UG)</li>

<li>Rachel Carlson (HS)</li>

<li>Ben Habibi (HS)</li>

<li>Joan Kroon (UG)</li>

<li>Athena Klock (UG)</li>

<li>PaDreyia Lawson (UG)</li>

<li>Kristin Little (UG)</li>

<li>Virginia Berube (UG)</li>

<li>Josh Williams (UG)</li>

<li>Hieu Phung (UG)</li>

<li>Sarita Sitaula (GS)</li>

<li>Melissa Parker (UG)</li>

<li>My-Trinh Do (UG)</li>
</div>
</ul>
</div> 
	</div> 
		</div>
  <!-----Hero END---->
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>