{% extends "pharmacogenomics/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sider Searcher</title>
</head>

{% block body %}
    <h1>Sider Searcher - Drugs Ranked</h1>
    <table id="drugs-ranked"
           class="table table-hover table-striped d-none">
        <thead>
        <tr>
            <th>DrugName</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        {% for d in object_list %}
            <tr>
                <td>
                    {{ d.drug_name }}
                </td>
                <td>
                    {{ d.dcount }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

</html>

<script>
    var dtTable;

    $(document).ready(function () {
        WireUpDataTable();
    });

    function WireUpDataTable() {
        dtTable = $("#drugs-ranked")
            .on("init.dt", function () {
                $("#drugs-ranked").removeClass("d-none");
            })
            .DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'csv'
                ],
                "order": [[1, "desc"]]
            });
    }
</script>

{% endblock content %}