{% extends 'base.html' %}
{% block content %}
    <body style="background-image:none;">
    <index></index>
    </body>

    <script id="index-template"
            type="x-html-template">
        <div ref="tableWrapper">
            <div style="padding-left: 10px;padding-bottom: 10px">
                <button id="toggle-columns"
                        class="btn btn-secondary"
                        v-on:click="toggleColumns">
                    Toggle Columns
                </button>
                <button id="toggle-filters"
                        class="btn btn-secondary"
                        v-on:click="toggleFilters">
                    Show Filters
                </button>
            </div>

            <div v-if="geneNotFound">
                <h1>Gene not found in ExAC</h1>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div id="columns" class="col" style="display: none;">
                        <div class="card" style="width: 60rem;">
                            <div class="card-header">
                                <h4> Hidden columns:</h4>
                            </div>
                            <div class="card-body">
                                <ul style="list-style: none"
                                    class="multi-column">
                                    <li v-if="exomeColumns"
                                        v-for="(index, column) in exomeColumns"
                                        style="width:20em;"
                                        :key="column.column_name">
                                        <label class="form-check-label">
                                            <input v-model="hiddenColumns"
                                                   class="form-check-input"
                                                   v-on:change="toggleColumnVisibility(index)"
                                                   :value="index"
                                                   name="column"
                                                   type="checkbox"/>
                                            {% verbatim %}{{ column }}{% endverbatim %}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="filters"
                         class="col"
                         style="display: none;">
                        <div class="card"
                             style="width:50rem;">
                            <div class="card-header">
                                <h4>Filters:</h4>
                            </div>
                            <div class=card-body>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Column</th>
                                        <th>Search text</th>
                                        <th>Use regex</th>
                                        <th>Use smart search</th>
                                        <th>Remove</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-if="filters.length"
                                        v-for="(filter, index) in filters">
                                        <td>
                                            <select id="column-list"
                                                    v-on:change="doFilter"
                                                    v-model="filter.columnIndex"
                                                    class="form-control-sm">
                                                <option v-if="exomeColumns"
                                                        v-for="(index, column) in exomeColumns"
                                                        :value="index"
                                                        :key="column.column_name">
                                                    {% verbatim %}{{ column }}{% endverbatim %}
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <input v-on:keyup="doFilter"
                                                   v-model="filter.searchText"
                                                   type="text"
                                                   class="form-control form-control-sm">
                                        </td>
                                        <td style="text-align: center;">
                                            <input type="checkbox"
                                                   v-model="filter.useRegex"
                                                   v-on:change="doFilter"
                                                   class="form-check-input">
                                        </td>
                                        <td style="text-align: center;">
                                            <input type="checkbox"
                                                   v-model="filter.useSmartSearch"
                                                   v-on:change="doFilter"
                                                   class="form-check-input">
                                        </td>
                                        <td style="text-align: center">
                                            <button class="btn btn-outline-secondary"
                                                    v-on:click="removeFilter(index)">
                                                <span class="fas fa-minus"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-outline-secondary" v-on:click="addNewFilter">Add New Filter
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table id="ExomeTable"
                   ref="datatable"
                   class="table table-hover table-striped d-none">
            </table>
        </div>
    </script>

    <script type="application/javascript">
        var gnomadData = {{ gnomad_data | safe }};
        var exomeColumns = {{ exome_columns | safe }};
    </script>

    <script type="application/javascript">
        Vue.component("index", {
            template: "#index-template",
            data: function () {
                return {
                    dtTable: null,
                    gnomadData: gnomadData,
                    exomeColumns: exomeColumns,
                    geneNotFound: false,
                    geneID: this.getGeneID(),
                    filters: [{
                        columnIndex: "",
                        searchText: "",
                        useRegex: false,
                        useSmartSearch: true,
                    }],
                    hiddenColumns: [
                        exomeColumns['AfricanAlleleCount'],
                        exomeColumns['AfricanAlleleNumber'],
                        exomeColumns['AfricanAlleleFreq'],
                        exomeColumns['AmericanAlleleCount'],
                        exomeColumns['AmericanAlleleNumber'],
                        exomeColumns['AmericanAlleleFreq'],
                        exomeColumns['AshkenaziJewishAlleleCount'],
                        exomeColumns['AshkenaziJewishAlleleNumber'],
                        exomeColumns['AshkenaziJewishAlleleFreq'],
                        exomeColumns['EastAsianAlleleCount'],
                        exomeColumns['EastAsianAlleleNumber'],
                        exomeColumns['EastAsianAlleleFreq'],
                        exomeColumns['FinnishAlleleCount'],
                        exomeColumns['FinnishAlleleNumber'],
                        exomeColumns['FinnishAlleleFreq'],
                        exomeColumns['EuropeanAlleleCount'],
                        exomeColumns['EuropeanAlleleNumber'],
                        exomeColumns['EuropeanAlleleFreq'],
                        exomeColumns['OtherAlleleCount'],
                        exomeColumns['OtherAlleleNumber'],
                        exomeColumns['OtherAlleleFreq'],
                        exomeColumns['SouthAsianAlleleCount'],
                        exomeColumns['SouthAsianAlleleNumber'],
                        exomeColumns['SouthAsianAlleleFreq'],
                    ],
                }
            },
            methods: {
                getGeneID: function () {
                    var currentURLString = window.location.href;
                    var currentURL = new URL(currentURLString);
                    geneID = currentURL.searchParams.get("gene_id");
                    return geneID;
                },
                toggleColumns: function () {
                    $("#columns").toggle("slow");
                },
                toggleFilters: function () {
                    $("#filters").toggle("slow");
                },
                toggleColumnVisibility: function (columnIndex) {
                    var _this = this;
                    var column = _this.dtTable.column(columnIndex);
                    if (this.hiddenColumns.includes(columnIndex)) {
                        column.visible(false);
                    } else {
                        column.visible(true);
                    }
                },
                addNewFilter: function () {
                    this.filters.push({
                        columnIndex: "",
                        searchText: "",
                        useRegex: false,
                        useSmartSearch: true,
                    });
                },
                removeFilter: function (filterIndex) {
                    var columnIndex = this.filters[filterIndex].columnIndex;
                    this.dtTable.column(columnIndex).search("").draw();
                    this.filters.splice(filterIndex, 1);
                },
                doFilter: function () {
                    var _this = this;
                    var d = _this.dtTable
                    this.filters.forEach(function (filter) {
                        d.column(filter.columnIndex)
                            .search(filter.searchText,
                                filter.useRegex,
                                filter.useSmartSearch);
                    });
                    d.draw();
                }
            },
            mounted: function () {
                if (this.gnomadData.hasOwnProperty("errors")) {
                    if (this.gnomadData["errors"][0]["message"] === "Gene not found") {
                        this.geneNotFound = true;
                        return;
                    }
                }
                var _this = this;
                var exomeData = this.gnomadData["data"]["gene"]["variants"];
                exomeData.forEach(function (item, i) {
                    if (item["exome"] === null) {
                        item["exome"] = {"populations": null};
                    }
                });
                this.dtTable = $(this.$refs.datatable).DataTable({
                    dom: "lBfrtip",
                    buttons: [{
                        extend: "csv",
                        exportOptions: {
                            columns: ":visible",
                            rows: ":visible",
                        }
                    }],
                    data: exomeData,
                    search: {regex: true},
                    columns: RenderColumns(this),
                    initComplete: function () {
                        this.removeClass("d-none");
                    },
                    columnDefs: [
                        {
                            visible: false,
                            targets: _this.hiddenColumns,
                        }
                    ],
                    order: [[this.exomeColumns["AlleleFrequency"], "desc"]],
                    stateSave: true,
                    stateSaveParams: function(settings, data) {
                        data.stateVariables = {
                            hiddenColumns: _this.hiddenColumns,
                            filters: _this.filters,
                        };
                    },
                    stateLoadParams: function(settings, data) {
                        if (data && data.stateVariables) {
                            _this.hiddenColumns = (data.stateVariables.hiddenColumns || _this.hiddenColumns);
                            _this.filters = (data.stateVariables.filters || _this.filters);
                        }
                    },
                });
                this.dtTable.columns().header().to$().removeClass("text-center");
            }
        });
    </script>
    <script type="application/javascript">
        function RenderColumns(vueComponent) {
            return [
                {
                    defaultContent: vueComponent.geneID,
                    title: "GeneID",
                    className: "text-center",
                    render: function () {
                        return vueComponent.geneID;
                    }
                },
                {
                    data: "variantId",
                    title: "VariantID",
                    className: "text-center",
                    defaultContent: "",
                },
                {
                    data: "exome.af",
                    title: "AlleleFrequency",
                    className: "text-center",
                    defaultContent: "",
                },
                {
                    data: "exome.an",
                    title: "AlleleNumber",
                    className: "text-center",
                    defaultContent: "",
                },
                {
                    data: "exome.ac",
                    title: "AlleleCount",
                    className: "text-center",
                    defaultContent: "",
                },
                {
                    data: "exome.ac_hemi",
                    title: "AlleleCountHemi",
                    className: "text-center",
                    defaultContent: "",
                },
                {
                    data: "exome.ac_hom",
                    title: "AlleleCountHomozygote",
                    className: "text-center",
                    defaultContent: "",
                },
                {
                    data: "exome.filters",
                    title: "Filters",
                    className: "text-center",
                    defaultContent: "",
                },
                {
                    data: "exome",
                    title: "AfricanAlleleCount",
                    className: "text-center",
                    render:
                        function (data, type) {
                            if (type === "display") {
                                if (data["populations"] !== null) {
                                    return data["populations"][0].ac;
                                }
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: "exome.populations",
                    title: "AfricanAlleleNumber",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[0].an;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: "exome.populations",
                    title: "AfricanAlleleFreq",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[0].ac / data[0].an;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: 'exome.populations',
                    title: "AmericanAlleleCount",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[1].ac;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: "exome.populations",
                    title: "AmericanAlleleNumber",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[1].an;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: "exome.populations",
                    title: "AmericanAlleleFreq",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[1].ac / data[1].an;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: 'exome.populations',
                    title: "AshkenaziJewishAlleleCount",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[2].ac;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: "exome.populations",
                    title: "AshkenaziJewishAlleleNumber",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[2].an;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: "exome.populations",
                    title: "AshkenaziJewishAlleleFreq",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[2].ac / data[2].an;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: 'exome.populations',
                    title: "EastAsianAlleleCount",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[3].ac;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: "exome.populations",
                    title: "EastAsianAlleleNumber",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[3].an;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: "exome.populations",
                    title: "EastAsianAlleleFreq",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[3].ac / data[3].an;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: 'exome.populations',
                    title: "FinnishAlleleCount",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[4].ac;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: "exome.populations",
                    title: "FinnishAlleleNumber",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[4].an;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: "exome.populations",
                    title: "FinnishAlleleFreq",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[4].ac / data[4].an;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: 'exome.populations',
                    title: "EuropeanAlleleCount",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[5].ac;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: "exome.populations",
                    title: "EuropeanAlleleNumber",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[5].an;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: "exome.populations",
                    title: "EuropeanAlleleFreq",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[5].ac / data[5].an;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: 'exome.populations',
                    title: "OtherAlleleCount",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[6].ac;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: "exome.populations",
                    title: "OtherAlleleNumber",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[6].an;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: "exome.populations",
                    title: "OtherAlleleFreq",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[6].ac / data[6].an;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: 'exome.populations',
                    title: "SouthAsianAlleleCount",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[7].ac;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: "exome.populations",
                    title: "SouthAsianAlleleNumber",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[7].an;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: "exome.populations",
                    title: "SouthAsianAlleleFreq",
                    className: "text-center",
                    render:
                        function (data) {
                            if (data !== null) {
                                return data[7].ac / data[7].an;
                            }
                        },
                    defaultContent: 0,
                },
                {
                    data: "flags",
                    title: "Flags",
                    className: "text-center",
                    defaultContent: "",
                },
                {
                    data: "chrom",
                    title: "Chrom",
                    className: "text-center",
                    defaultContent: "",
                },
                {
                    data: "pos",
                    title: "Pos",
                    className: "text-center",
                    defaultContent: "",
                },
                {
                    data: "alt",
                    title: "Alt",
                    className: "text-center",
                    defaultContent: "",
                },
                {
                    data: "consequence",
                    title: "Consequence",
                    className: "text-center",
                    defaultContent: "",
                },
                {
                    data: "consequence_in_canonical_transcript",
                    title: "ConsequenceInCanonicalTranscript",
                    className: "text-center",
                    defaultContent: "",
                },
                {
                    data: "hgvs",
                    title: "HGVS",
                    className: "text-center",
                    defaultContent: "",
                },
                {
                    data: "hgvsc",
                    title: "HGVSc",
                    className: "text-center",
                    defaultContent: "",
                },
                {
                    data: "hgvsp",
                    title: "HGVSp",
                    className: "text-center",
                    defaultContent: "",
                },
                {
                    data: "lof",
                    title: "lof",
                    className: "text-center",
                    defaultContent: "",
                },
                {
                    data: "lof_filter",
                    title: "lof_filter",
                    className: "text-center",
                    defaultContent: "",
                },
                {
                    data: "lof_flags",
                    title: "lof_flags",
                    className: "text-center",
                    defaultContent: "",
                },
                {
                    data: "rsid",
                    title: "rsid",
                    className: "text-center",
                    defaultContent: "",
                },
            ];
        }
    </script>

    <script type="x-html-template"
            id="filter-template">

    </script>
{% endblock %}