{% extends 'base.html' %}

{% block content %}
    <body style="background:none">
    <h1 style="margin-left: 10px">GTExome</h1>
    <div class="row">
        <button class="btn btn-secondary"
                data-toggle="modal"
                data-target="#directionsModal" style="margin:10px;text-align: right;">
            Info
        </button>
        <h3 class="lead">
            Details in our <a href="https://www.biorxiv.org/content/10.1101/2023.11.14.567143v1" target="_blank">
            preprint and </a>
            walkthough  <a href="https://youtu.be/GQHd-mfWrM4" target="_blank"> VIDEO </a>
        </h3>
    </div>
    <div class="modal fade" id="directionsModal" tabindex="-1" role="dialog" aria-labelledby="directionsModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="directionsModalTitle">Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    GTExome is a tool to connect genotype expression data to exome data by filtering the
                    <a href="https://gtexportal.org/home/">GTEx database</a> for specific TPM ranges in different
                    tissue types to get a list of genes. From the list of genes, you can view the exome data
                    sourced from <a href="https://gnomad.broadinstitute.org">gnomAD/ExAC</a>.<br> To go directly to
                    <b>refold</b> a protein you must have an Ensemble ENSG number and mutation info (CCID). To get a list of
                    mutations for a protein use the <b>exac</b> tab and enter a gnomad valid protein name.<br>
                    <b>GTEX Directions:</b><br>
                    1. Select 'Filter By TPM Ratio' or 'Filter By TPM Range'.<br>
                    2. Add tissue types from the left list by clicking the plus button.<br>
                    &emsp;a. If 'Filter By TPM Ratio' is selected. Choose a lower and upper bound for the ratio to filter by
                    or leave blank for unbounded lower/upper range.<br>
                    &emsp;Ratio calculated by summing the TPM of selected tissues as the numerator and the sum of
                    non-selected tissues as the denominator.<br>
                    &emsp;b. If 'Filter By TPM Range' is selected. For each selected tissue, enter a lower and upper bound
                    for the expression in TPM.<br>
                    4. Hit the Submit button once you are done.<br>
                    5. You will be redirected to a results page with a list of genes available in csv format.<br>
                    6. Each Gene ID is a link to exome data available in csv format.<br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <index></index>
    <script id="index-template"
            type="x-html-template">
        <div id="table-wrapper">
            <ul class="nav nav-tabs"
            >
                <li class="nav-item"
                    title="select protein by tissue expression"
                    v-on:click="changeToGtex">
                    <a class="nav-link"
                       v-bind:class="{active: gtexTabIsActive}"
                       href="#">
                        gtex
                    </a>
                </li>
                <li class="nav-item"
                    title="select protein directly"
                    v-on:click="changeToExac">
                    <a class="nav-link"
                       v-bind:class="{active: exacTabIsActive}"
                       href="#">
                        exac
                    </a>
                </li>
                <li class="nav-item"
                    title="directly to refolding"
                    v-on:click="changeToRefolder">
                    <a class="nav-link"
                       v-bind:class="{active: refolderTabIsActive}"
                       href="#">
                        refold
                    </a>
                </li>
            </ul>
            <div v-show="gtexTabIsActive">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body" style="height:100vh; overflow-y: auto;">
                                <div class="form-inline" style="margin-bottom: 10px; margin-left: 10px;">
                                    <div id="filter-toggle"
                                         class="btn-group btn-group-toggle"
                                         data-toggle="buttons">
                                        <label class="btn btn-info active">
                                            <input type="radio"
                                                   name="options"
                                                   v-on:click="toggleFilter"
                                                   id="filter-by-ratio"
                                                   autocomplete="off"
                                                   checked>
                                            Filter By TPM Ratio
                                        </label>
                                        <label class="btn btn-info">
                                            <input type="radio"
                                                   v-on:click="toggleFilter"
                                                   name="options"
                                                   id="filter-by-range"
                                                   autocomplete="off">
                                            Filter By TPM Range
                                        </label>
                                    </div>
                                    <div v-if="filterByRatio"
                                         class="form-inline"
                                         id="filter-ratio-input"
                                         style="margin-left: 10px;">
                                        Ratio Range (Leave blank for unbounded lower/upper):
                                        <label>
                                            <input type="number"
                                                   v-model.number="lowerRatio"
                                                   placeholder="e.g. .05"
                                                   style="margin-right: 10px"> ≤
                                        </label>
                                        <label>
                                            <input type="number"
                                                   v-model.number="upperRatio"
                                                   placeholder="e.g. .5"
                                                   style="margin-left:10px">
                                        </label>
                                    </div>
                                </div>
                                <h3>Tissue types:</h3>
                                <ul id="tissue-list" class="list-group" style="overflow-y: scroll">
                                    <li class="list-group-item"
                                        v-for="field in allFieldNames">
                                        <span v-text="field"></span>
                                        <button class="btn btn-outline-secondary tissue-buttons float-right"
                                                style="min-width: 40px;"
                                                v-on:click="addOrRemoveTissue(field)">
                                                <span v-if="!selectedTissuesRatio.includes(field) && selectedTissuesRange.findIndex(t => t.tissueName === field) == -1"
                                                      key="doesNotIncludeTissue">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            <span v-else key="includesTissue">
                                                    <i class="fas fa-times"></i>
                                                </span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body" style="height:100vh; overflow-y: auto;">
                                <h3>Selected Tissues: </h3>
                                <ul id="filter-list" class="list-group" style="overflow-y: scroll">
                                    <li v-for="(tissue, index) in selectedTissuesRatio">
                                        <span class="list-group-item">
                                            <span v-text="tissue"></span>
                                        </span>
                                    </li>
                                    <li v-for="(tissue, index) in selectedTissuesRange">
                                        <span class="list-group-item form-inline row">
                                            <span v-text="tissue.tissue"></span>
                                            <span class="float-right">
                                                <input class="lower" type="number"
                                                       placeholder="lower bound"
                                                       v-model.number="tissue.range.lower"> to
                                                <input class="upper" type="number"
                                                       placeholder="upper bound"
                                                       v-model.number="tissue.range.upper">
                                            </span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div style="text-align: right; margin-top: 10px">
                            <button type="submit"
                                    id="side-effect-list-submit"
                                    v-bind:disabled="submitButtonDisabled"
                                    v-on:click="viewResults"
                                    class="btn btn-primary submit-btn">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div v-show="exacTabIsActive">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <p>
                            <form>
                                <div class="form-group">
                                    <label for="exampleGene">Gene</label>
                                    <input type="text"
                                           placeholder="e.g. ENPP4"
                                           v-model="exacInput">
                                    <small class="form-text text-muted">must be valid gnomad v2.1
                                        (https://gnomad.broadinstitute.org/) name.
                                    </small>
                                </div>
                            </form>
                            <div style="text-align: right; margin-top: 10px">
                                <button type="submit"
                                        id="side-effect-list-submit"
                                        v-bind:disabled="exacSubmitButtonDisabled"
                                        v-on:click="viewExacResults"
                                        class="btn btn-primary submit-btn">
                                    Submit to Exac
                                </button>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div v-show="refolderTabIsActive">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <p>
                            <form>
                                <div class="col-5">
                                    <div class="row mb-1">
                                        <label class="col-4">
                                            GeneID
                                        </label>
                                        <input class="form-control col-5"
                                               v-on:keyup.enter="viewRefolderResults"
                                               v-model="geneID"
                                               placeholder="e.g. ENSG00000001561"
                                               type="text"/>
                                    </div>
                                    <div class="row mb-1">
                                        <label class="col-4">
                                            CCID
                                        </label>
                                        <input class="form-control col-5"
                                               v-on:keyup.enter="viewRefolderResults"
                                               v-model="CCID"
                                               placeholder="e.g. p.His144Gln"
                                               type="text"/>
                                    </div>
                                </div>
                            </form>
                            <div style="text-align: right; margin-top: 10px">
                                <button type="submit"
                                        id="refolder-submit"
                                        v-bind:disabled="refolderSubmitButtonDisabled"
                                        v-on:click="viewRefolderResults"
                                        class="btn btn-primary submit-btn">
                                    Submit to refolder
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    </body>

    <script type="application/javascript">
        Vue.component("index", {
                data: function () {
                    let allFieldNames = {{ all_field_names | safe }};
                    return {
                        gtexTabIsActive: true,
                        exacTabIsActive: false,
                        refolderTabIsActive: false,
                        lowerRatio: null,
                        upperRatio: null,
                        filterList: [],
                        allFieldNames: allFieldNames,
                        selectedTissuesRatio: [],
                        selectedTissuesRange: [],
                        filterByRatio: true,
                        exacInput: null,
                        CCID: null,
                        gene_ID: null,
                        geneID: null,
                    }
                },
                template: "#index-template",
                computed: {
                    submitButtonDisabled: function () {
                        var response = true;
                        var selectedTissuesRatio = this.selectedTissuesRatio;
                        var selectedTissuesRange = this.selectedTissuesRange;
                        var selectedRatioLength = selectedTissuesRatio.length;
                        var selectedRangeLength = selectedTissuesRange.length;
                        if (!(selectedRatioLength > 0) || !(selectedRangeLength > 0)) {
                            if (this.filterByRatio) {
                                if (this.upperRatio > this.lowerRatio) {
                                    response = false;
                                }
                            } else {
                                response = false;
                            }
                        }
                        return response;
                    },
                    exacSubmitButtonDisabled: function () {
                        var input = 'exacInput'
                        if (input.length > 0) {
                            enabled = "exacSubmitButtonDisabled";
                        }
                    },
                    refolderSubmitButtonDisabled: function () {
                        var input = 'exacInput'
                        if (input.length > 0) {
                            enabled = "refolderSubmitButtonDisabled";
                        }
                    }
                },
                methods: {
                    addOrRemoveTissue: function (tissue) {
                        if (this.filterByRatio) {
                            if (false === this.selectedTissuesRatio.includes(tissue)) {
                                this.selectedTissuesRatio.push(tissue);
                            } else {
                                const index = this.selectedTissuesRatio.indexOf(tissue);
                                this.selectedTissuesRatio.splice(index, 1);
                            }
                        } else {
                            var tissueIndex = this.selectedTissuesRange.findIndex(t => t.tissueName === tissue);
                            if (tissueIndex === -1) {
                                var newTissue = {
                                    tissue: tissue,
                                    range: {
                                        lower: null,
                                        upper: null,
                                    }
                                };
                                this.selectedTissuesRange.push(newTissue);
                            } else {
                                this.selectedTissuesRange.splice(tissueIndex, 1);
                            }
                        }
                    },
                    changeToGtex: function () {
                        if (this.gtexTabIsActive) {
                        } else {
                            this.gtexTabIsActive = true;
                            this.exacTabIsActive = false;
                            this.refolderTabIsActive = false;
                        }
                    },
                    changeToExac: function () {
                        if (this.exacTabIsActive) {
                        } else {
                            this.exacTabIsActive = true;
                            this.gtexTabIsActive = false;
                            this.refolderTabIsActive = false;
                        }
                    },
                    changeToRefolder: function () {
                        if (this.refolderTabIsActive) {
                        } else {
                            this.refolderTabIsActive = true;
                            this.exacTabIsActive = false;
                            this.gtexTabIsActive = false;
                        }
                    },
                    viewRefolderResults: function () {
                        $.ajax({
                            var: _CCID = this.CCID,
                            var2: _gene_ID = this.geneID,
                            success: function (response) {
                                window.location = '{% url 'pdbgen:pdbgen_index' %}?CCID=' + _CCID + '&gene_ID=' + _gene_ID + '&neighbors=null';
                            }
                        })
                    }
                    ,
                    toggleFilter: function () {
                        if (this.filterByRatio) {
                            this.selectedTissuesRatio = [];
                            this.filterByRatio = false;
                        } else {
                            this.selectedTissuesRange = [];
                            this.filterByRatio = true;
                        }
                    }
                    ,
                    viewResults: function () {
                        if (this.filterByRatio) {
                            let filterRatioDict = {};
                            let lowerFilterRatio = this.lowerRatio;
                            let upperFilterRatio = this.upperRatio;
                            let tissues = this.selectedTissuesRatio;

                            if (lowerFilterRatio === "") {
                                lowerFilterRatio = Number.NEGATIVE_INFINITY;
                            }
                            if (upperFilterRatio === "") {
                                upperFilterRatio = Infinity
                            }

                            filterRatioDict["lower"] = lowerFilterRatio;
                            filterRatioDict["upper"] = upperFilterRatio;

                            filterRatioDict["tissues"] = tissues;

                            $.ajax({
                                type: 'POST',
                                url: "{% url 'gtexome:gtexome' %}",
                                data: {'filterRatio': JSON.stringify(filterRatioDict)},
                                success: function () {
                                    window.location = "{% url 'gtexome:ratio_results' %}"
                                }
                            });
                        } else {
                            var filterDictionary = this.selectedTissuesRange;
                            $.ajax({
                                type: 'POST',
                                url: '{% url 'gtexome:gtexome' %}',
                                data: {'filterDictionary': JSON.stringify(filterDictionary)},
                                success: function () {
                                    window.location = "{% url 'gtexome:range_results' %}";
                                }
                            });
                        }
                    }
                    ,
                    viewExacResults: function () {
                        axios({
                            url: "https://gnomad.broadinstitute.org/api/",
                            method: "post",
                            data: {
                                query: `query {
                                gene(gene_symbol: "${this.exacInput}", reference_genome: GRCh37) {gene_id}}`
                            }
                        }).then(function (response) {
                            if (response.data.errors) {
                                window.alert(response.data.errors[0].message);
                                return;
                            }
                            var gene_id = response.data.data.gene.gene_id;
                            window.location = `{% url 'gtexome:exome' %}?gene_id=${gene_id}`;
                        });
                    }
                    ,
                    GetAllFilters: function () {
                        if (filterByRatio) {
                            let filterRatioDict = {};
                            let lowerFilterRatio = this.lowerRatio;
                            let upperFilterRatio = this.upperRatio;
                            let tissues = [];

                            if (lowerFilterRatio === "") {
                                lowerFilterRatio = Number.NEGATIVE_INFINITY;
                            }
                            if (upperFilterRatio === "") {
                                upperFilterRatio = Infinity
                            }

                            filterRatioDict["lower"] = lowerFilterRatio;
                            filterRatioDict["upper"] = upperFilterRatio;

                            filterRatioDict["tissues"] = tissues;

                            $.ajax({
                                type: 'POST',
                                url: "{% url 'gtexome:gtexome' %}",
                                data: {'filterRatio': JSON.stringify(filterRatioDict)},
                                success: function () {
                                    window.location = "{% url 'gtexome:ratio_results' %}"
                                }
                            });
                        } else {
                            var filterDictionary = this.selectedTissuesRange;
                            $.ajax({
                                type: 'POST',
                                url: '{% url 'gtexome:gtexome' %}',
                                data: {'filterDictionary': JSON.stringify(filterDictionary)},
                                success: function () {
                                    window.location = "{% url 'gtexome:range_results' %}";
                                }
                            });
                        }
                    }
                    ,
                }
            }
        )
    </script>
{% endblock content %}