{% extends 'base.html' %}

{% block content %}
    <body style="background:none">
    <h1 style="margin-left: 10px">GTExome</h1>
    <button class="btn btn-secondary"
            data-toggle="modal"
            data-target="#directionsModal" style="margin:10px;text-align: right;">
        Info
    </button>

    <div class="modal fade" id="directionsModal" tabindex="-1" role="dialog" aria-labelledby="directionsModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="directionsModalTitle">Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    GTExome is a tool to connect genotype expression data to exome data by filtering the
                    <a href="https://gtexportal.org/home/">GTEx database</a> for specific TPM ranges in different
                    tissue types to get a list of genes. From the list of genes, you can view the exome data
                    sourced from <a href="https://gnomad.broadinstitute.org">gnomAD/ExAC</a>.<br>
                    <b>Directions:</b><br>
                    1. Select 'Filter By TPM Ratio' or 'Filter By TPM Range'.<br>
                    2. Add tissue types from the left list by clicking the plus button.<br>
                    &emsp;a. If 'Filter By TPM Ratio' is selected. Choose a ratio range to filter by or leave blank for
                    unbounded lower/upper range.<br>
                    &emsp;Ratio calculated by summing the TPM of selected tissues as the numerator and the sum of
                    non-selected tissues as the denominator.<br>
                    &emsp;b. If 'Filter By TPM Range' is selected. For each selected tissue, enter a range for median
                    TPM.<br>
                    4. Hit the Submit button once you are done.<br>
                    5. You will be redirected to a results page with a list of genes available in csv format.<br>
                    6. Each Gene ID is a link to exome data available in csv format.<br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <index></index>
    <script id="index-template"
            type="x-html-template">
        <div id="table-wrapper">
            <ul class="nav nav-tabs"
                v-on:click="changeTabs">
                <li class="nav-item">
                    <a class="nav-link"
                       v-bind:class="{active: gtexTabIsActive}"
                       ref="gtexTab"
                       href="#">
                        gtex
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       v-bind:class="{active: exacTabIsActive}"
                       ref="exacTab"
                       href="#">
                        exac
                    </a>
                </li>
            </ul>
            <div v-show="gtexTabIsActive">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body" style="height:100vh; overflow-y: auto;">
                                <div class="form-inline" style="margin-bottom: 10px; margin-left: 10px;">
                                    <div id="filter-toggle" class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-info active">
                                            <input type="radio" name="options" id="filter-by-ratio" autocomplete="off"
                                                   checked> Filter By
                                            TPM Ratio
                                        </label>
                                        <label class="btn btn-info">
                                            <input type="radio" name="options" id="filter-by-range" autocomplete="off">
                                            Filter By TPM Range
                                        </label>
                                    </div>
                                    <div class="form-inline" id="filter-ratio-input" style="margin-left: 10px;">
                                        Ratio Range (Leave blank for unbounded lower/upper):
                                        <label>
                                            <input type="number"
                                                   v-model.number="lowerRatio"
                                                   style="margin-right: 10px"> ≤
                                        </label>
                                        <label>
                                            <input type="number"
                                                   v-model.number="upperRatio"
                                                   style="margin-left:10px">
                                        </label>
                                    </div>
                                </div>
                                <h3>Tissue types:</h3>
                                <ul id="tissue-list" class="list-group" style="overflow-y: scroll">
                                        <li class="list-group-item"
                                            v-for="field in allFieldNames">
                                            <span v-text="field"></span>
                                            <button class="btn btn-outline-secondary tissue-buttons float-right"
                                                    style="min-width: 40px;"
                                                    v-on:click="addOrRemoveTissue(field, $event)">
                                                <span class="fas fa-plus"></span>
{#                                                <span v-bind:class="{'fas fa-plus' : !selectedTissues.includes(field), 'fas fa-times' : selectedTissues.includes(field)}"></span>#}
                                            </button>
                                        </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body" style="height:100vh; overflow-y: auto;">
                                <h3>Selected Tissues: </h3>
                                <ul id="filter-list" class="list-group" style="overflow-y: scroll">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: right; margin:12px">
                    <button id="submit-button" class="btn btn-primary" onclick="GetAllFilters()" disabled>
                        Submit
                    </button>
                </div>
            </div>
            <div v-show="exacTabIsActive">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <p>
                                test
                            </p>
                        </div>
                    </div>
                </div>
                <div style="text-align: right; margin-top: 10px">
                    <button type="submit"
                            id="side-effect-list-submit"
                            v-bind:disabled="submitButtonDisabled"
                            v-on:click="viewResults"
                            class="btn btn-primary submit-btn">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </script>

    </body>
    <script type="application/javascript">

        $(document).ready(function () {
            filterByRatio = $("#filter-by-ratio:checked").val();
            FilterToggleHandler();
        });

        function tissueTypeButtonHandler() {
            $(".tissue-buttons").click(function () {
                var tissueText = $(this).parent().text().trim();
                var tissueID = tissueText.replace("(", "-").replace(")", "");
                if ($(this).find("svg").hasClass("fa-plus")) {
                    $(this).find("svg").removeClass("fa-plus").addClass("fa-times");
                    if (filterByRatio) {
                        $("#filter-list").append(
                            '<li id="' + tissueID + '" class="list-group-item"><span>' + tissueText + '</span></li>'
                        );
                    } else {
                        $("#filter-list").append('' +
                            '<li id="' + tissueID + '" class="list-group-item"><span>' + tissueText + '</span>' +
                            '<form class="float-right form-inline">' +
                            '<input class="lower" type="number">' +
                            'to' +
                            '<input class="upper" type="number">' +
                            '</form>' +
                            '</li>');
                    }
                } else if ($(this).find("svg").hasClass("fa-times")) {
                    $(this).find("svg").removeClass("fa-times").addClass("fa-plus");
                    $("#" + tissueID).remove();
                }
                if ($("#filter-list li").length > 0) {
                    $("#submit-button").prop("disabled", false);
                } else {
                    $("#submit-button").prop("disabled", true);
                }
            });
        }

        function FilterToggleHandler() {
            $("#filter-toggle").change(function () {
                filterByRatio = $("#filter-by-ratio:checked").val();
                $("#filter-list").empty();
                DeselectButtons();
                let filterRatioInput = $("#filter-ratio-input");
                if (filterByRatio) {
                    if (filterRatioInput.hasClass("d-none")) {
                        filterRatioInput.removeClass("d-none");
                    }
                } else {
                    filterRatioInput.addClass("d-none");
                }
            });
        }

        function DeselectButtons() {
            $(".tissue-buttons").each(function (i, button) {
                if ($(button).find("svg").hasClass("fa-times")) {
                    $(button).find("svg").removeClass("fa-times").addClass("fa-plus");
                }
            });
        }


        function RenderColumns(vueComponent) {
            return [
                {
                    data: 'ratio',
                    title: 'Ratio',
                    name: 'Ratio',
                },
                {
                    data: null,
                    title: 'Gene ID',
                    name: 'Gene ID',
                    defaultContent: "",
                    render: function (data, type) {
                        var geneID = data['gene_id'];
                        var response = '<a href="{% url 'gtexome:exome' %}?gene_id=' + geneID + '">' + geneID + '</a>';
                        return response;
                    }
                },
                {
                    data: 'description',
                    title: 'Description',
                    name: 'Description',
                }
            ]
        }
    </script>
    <script type="application/javascript">
        Vue.component("index", {
            mounted: function () {
                this.dtTable = $(this.$refs.datatable).DataTable({
                    autoWidth: false,
                    data: geneRatios,
                    columns: RenderColumns(this),
                    paging: true,
                    initComplete: function () {
                        this.removeClass("d-none");
                    },
                    dom: "lBfrtip",
                    buttons: [{
                        extend: "csv",
                        exportOptions: {
                            columns: ":visible",
                        }
                    }],
                    order: [[0, "desc"]],
                });
            },
                data: function () {
                    let allFieldNames = {{ all_field_names | safe }};
                    return {
                        gtexTabIsActive: true,
                        exacTabIsActive: false,
                        lowerRatio: null,
                        upperRatio: null,
                        filterList: [],
                        allFieldNames: allFieldNames,
                        selectedTissues: [],
                    }
                },
                template: "#index-template",
                computed: {
                    submitButtonDisabled: function () {

                    }
                },
                methods: {
                    addOrRemoveTissue: function(tissue, event) {
                        debugger;
                        var _this = this;
                        if (false === _this.selectedTissues.includes(tissue)) {
                            _this.selectedTissues.push(tissue);
                            var button = $(event.target.children[0]);
                            button.removeClass("fa-plus").addClass("fa-times");
                        }
                        else {
                            debugger;
                            const index = _this.selectedTissues.indexOf(tissue);
                            _this.selectedTissues.splice(index, 1);
                            $(event.target).removeClass("fa-times").addClass("fa-plus");
                        }
                    },
                    changeTabs: function () {
                        if (this.gtexTabIsActive) {
                            this.gtexTabIsActive = false;
                            this.exacTabIsActive = true;
                        } else {
                            this.gtexTabIsActive = true;
                            this.exacTabIsActive = false;
                        }
                    },
                    viewResults: function () {

                    },
                    GetAllFilters: function () {
                        if (filterByRatio) {
                            let filterRatioDict = {};
                            let lowerFilterRatio = this.lowerRatio;
                            let upperFilterRatio = this.upperRatio;
                            let tissues = [];

                            if (lowerFilterRatio === "") {
                                lowerFilterRatio = Number.NEGATIVE_INFINITY;
                            }
                            if (upperFilterRatio === "") {
                                upperFilterRatio = Infinity
                            }

                            filterRatioDict["lower"] = lowerFilterRatio;
                            filterRatioDict["upper"] = upperFilterRatio;

                            $("#filter-list li").each(function () {
                                let tissueText = $(this).text();
                                tissues.push(tissueText);
                            });

                            filterRatioDict["tissues"] = tissues;

                            $.ajax({
                                type: 'POST',
                                url: "{% url 'gtexome:gtexome' %}",
                                data: {'filterRatio': JSON.stringify(filterRatioDict)},
                                success: function () {
                                    window.location = "{% url 'gtexome:ratio_results' %}"
                                }
                            });
                        } else {
                            var filterDictionary = [];
                            $("#filter-list li").each(function () {
                                var tissueText = $(this).text();
                                var tissue = tissueText.substring(0, tissueText.length - 2);
                                var lower = $(this).find(".lower").val();
                                var upper = $(this).find(".upper").val();
                                filterDictionary.push({
                                    tissue: tissue,
                                    range: {
                                        lower: lower,
                                        upper: upper,
                                    }
                                });
                            });
                            $.ajax({
                                type: 'POST',
                                url: '{% url 'gtexome:gtexome' %}',
                                data: {'filterDictionary': JSON.stringify(filterDictionary)},
                                success: function () {
                                    window.location = "{% url 'gtexome:range_results' %}";
                                }
                            });
                        }
                    },
                }
            }
        )
    </script>
{% endblock content %}