#change_password.html
{% extends "base.html" %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Password Reset</title>
    </head>
         <p><b>{{ status }}</b></p>
    <create_account>

    </create_account>
    <body>
    <h1>Password Change</h1>
    <form method="post" action="{% url 'user_accounts:authemail-password-change' %}">
        {% csrf_token %}
        {% if form.non_field_errors %}
            Non-Field Errors:<br>
            {{ form.non_field_errors }}
        {% endif %}
        {% if form.errors %}
            Field Errors:<br>
            <font color="red">{{ form.errors }}</font>
        {% endif %}
        <p>
            <font style="font-size:24px;">
                New Password: <input type="text" name="password" style="font-size:24px;"><br>
                New Password (again): <input type="text" name="password2" style="font-size:24px;"><br>
                <br>
                <button type="submit" value="Submit" style="font-size:24px;">Submit</button>
            </font>
        </p>
    </form>
    </body>
{#    <body>#}
{#    <h1>Password Reset</h1>#}
{#    <form method="post" action="{% url 'user_accounts:authemail-password-reset-verified' %}">#}
{#        {% csrf_token %}#}
{#        {% if form.non_field_errors %}#}
{#            Non-Field Errors:<br>#}
{#            {{ form.non_field_errors }}#}
{#        {% endif %}#}
{#        {% if form.errors %}#}
{#            Field Errors:<br>#}
{#            <font color="red">{{ form.errors }}</font>#}
{#        {% endif %}#}
{#        <p>#}
{#            <font style="font-size:24px;">#}
{#                Enter the email address associated with your account.<br>#}
{#                Email address: <input type="text" name="email" size="40" style="font-size:24px;"><br><br>#}
{#                <button type="submit" value="Submit" style="font-size:24px;">Submit</button>#}
{#            </font>#}
{#        </p>#}
{#    </form>#}
{#    </body>#}
{#    <script type="text-html-template" id="create_account">#}
{#        <div>#}
{#            <div class="row">#}
{#                <div class="col-1">#}
{#                </div>#}
{#                <div class="col">#}
{#                    <label>#}
{#                        First Name#}
{#                        <input type="text"#}
{#                               v-model="firstname">#}
{#                    </label>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-1">#}
{#                </div>#}
{#                <div class="col">#}
{#                    <label>#}
{#                        Last Name#}
{#                        <input type="text"#}
{#                               v-model="lastname">#}
{#                    </label>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-1">#}
{#                </div>#}
{#                <div class="col">#}
{#                    <label>#}
{#                        Email#}
{#                        <input type="text"#}
{#                               v-model="email">#}
{#                    </label>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-1">#}
{#                </div>#}
{#                <div class="col">#}
{#                    <label>#}
{#                        Password#}
{#                        <input type="password"#}
{#                               v-model="password">#}
{#                    </label>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-1">#}
{#                </div>#}
{#                <button#}
{#                        v-on:click="submit">#}
{#                    Submit#}
{#                </button>#}
{#            </div>#}
{#        </div>#}
{#    </script>#}
{##}
{#    <script type="application/javascript">#}
{#        Vue.component("create_account", {#}
{#                template: "#create_account",#}
{#                data: function () {#}
{#                    return {#}
{#                        password: "",#}
{#                        email: "",#}
{#                        firstname: "",#}
{#                        lastname: "",#}
{#                    }#}
{#                },#}
{#                methods: {#}
{#                    submit: function () {#}
{#                        var email = this.email;#}
{#                        var password = this.password;#}
{#                        var firstname = this.firstname;#}
{#                        var lastname = this.lastname;#}
{#                        var request = {email: email, password: password, first_name: firstname, last_name: lastname};#}
{#                        $.ajax({#}
{#                            type: 'POST',#}
{#                            url: '{% url 'user_accounts:authemail-signup' %}',#}
{#                            data: request,#}
{#                            success: function (response) {#}
{#                                if (response === "True")#}
{#                                    console.log('account created');#}
{##}
{#                            }#}
{##}
{#                        })#}
{#                    }#}
{#                }#}
{#            }#}
{#        )#}
{#    </script>#}
{% endblock %}