{% extends "base.html" %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login: templates / users / profile</title>
    </head>


    <p>To access some APIs you must have an account. From: mysite/templates/users/profile</p>
    <p><a href="{% url 'authemail-password-reset' %}">Lost password?</a></p>

<p>Create an account.</p>

<form action="" method="post" novalidate>
{% csrf_token %}

<input type="submit" value="Submit">
</form>

{% endblock %}