{% extends 'base.html' %}
<!DOCTYPE html>
{% block content %}
    <body style="background-image: none">
    <index></index>
    </body>
    <script id="index-template"
            type="text-html-template">
        <div id="table-wrapper">
            <button id="toggle-filters"
                    class="btn btn-secondary"
                    v-on:click="toggleFilters">
                Show Filters
            </button>
            <div id="filters"
                 class="col"
                 style="display:none;">
                <div class="card"
                     style="width:50rem">
                    <div class="card-header">
                        <h4>Filters:</h4>
                    </div>
                    <div class=card-body>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Column</th>
                                <th>Value</th>
                            </tr>
                            <tr>
                                <td>Metabolite logp</td>
                                <td>
                                    <div class="form-horizontal row">
                                        <input class="form-control form-control-sm w-25"
                                               type="number"
                                               v-model="metaboliteLogPLower"
                                               v-on:keyup="filter"> &nbsp;≤&nbsp;
                                        <input class="form-control form-control-sm w-25"
                                               type="number"
                                               v-model="metaboliteLogPUpper"
                                               v-on:keyup="filter">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Precursor logp</td>
                                <td>
                                    <div class="form-horizontal row">
                                        <input class="form-control form-control-sm w-25"
                                               type="number"
                                               v-model="precursorLogPLower"
                                               v-on:keyup="filter"> &nbsp;≤&nbsp;
                                        <input class="form-control form-control-sm w-25"
                                               type="number"
                                               v-model="precursorLogPUpper"
                                               v-on:keyup="filter">
                                    </div>
                                </td>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <h1>Metabolites</h1>
            <table id="metabolites"
                   ref="datatable"
                   class="table table-hover table-striped d-none">
            </table>
        </div>
    </script>
    <script type="application/javascript">
        var metabolites = {{ precursors_to_metabolites | safe }};
        Vue.component("index", {
            template: "#index-template",
            data: function () {
                return {
                    dtTable: null,
                    metabolites: metabolites,
                    metaboliteLogPLower: null,
                    metaboliteLogPUpper: null,
                    precursorLogPLower: null,
                    precursorLogPUpper: null,
                }
            },
            mounted: function () {
                var _this = this;
                this.wireUpDataTableSearchExtension();
                this.dtTable = $(this.$refs.datatable).DataTable({
                    autoWidth: false,
                    dom: 'lBfrtip',
                    buttons: [{
                        extend: "csv",
                        exportOptions: {
                            columns: ":visible",
                        }
                    }],
                    data: this.metabolites,
                    columns: RenderColumns(this),
                    order: [[1, 'asc']],
                    initComplete: function () {
                        this.removeClass("d-none");
                        $("#metabolites tbody").on("click", "td button", function () {
                            var $tr = $(this).closest('tr');
                            var row = _this.dtTable.row($tr);
                            var smileString = row.data()['metabolite_smile_string'];
                            if (row.child.isShown()) {
                                row.child.hide();
                                $(this).find("svg").removeClass("fa-times").addClass("fa-plus");
                                $tr.removeClass("shown");
                            } else {
                                var childRowHTML = $(_this.getChildRow());
                                var cleanedSmileString = smileString.replace('#', '%23');
                                var url = 'https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/smiles/' + cleanedSmileString + '/PNG';
                                var imgEl = document.createElement("img");
                                imgEl.style.width = "200px";
                                imgEl.style.height = "200px";
                                imgEl.src = url;
                                childRowHTML.append(imgEl);
                                row.child(childRowHTML).show();
                                $tr.addClass("shown");
                                $(this).find("svg").removeClass("fa-plus").addClass("fa-times");
                            }
                        });
                    },
                });
            },
            methods: {
                filter: function () {
                    this.dtTable.search("").draw();
                },
                getChildRow() {
                    var response = "";
                    response = document.createElement("div");
                    var vueInstance = new Vue({
                        template: "#structure-child-row",
                    }).$mount();
                    response.appendChild(vueInstance.$el);
                    return response.innerHTML;
                },
                toggleFilters: function () {
                    $("#filters").toggle("slow");
                },
                wireUpDataTableSearchExtension: function () {
                    var _this = this;
                    $.fn.dataTable.ext.search.push(function (settings, searchData, dataIndex, rowData) {
                        var metaboliteLogPLower = _this.metaboliteLogPLower;
                        var metaboliteLogPUpper = _this.metaboliteLogPUpper;
                        var precursorLogPLower = _this.precursorLogPLower;
                        var precursorLogPUpper = _this.precursorLogPUpper;

                        var result = true;
                        var metaboliteLogP = rowData["metabolite_logp"];
                        var precursorLogP = rowData["precursor_logp"];
                        if (metaboliteLogPLower) {
                            result = result && metaboliteLogPLower <= metaboliteLogP;
                        }

                        if (metaboliteLogPUpper) {
                            result = result && metaboliteLogP <= metaboliteLogPUpper;
                        }

                        if (precursorLogPLower) {
                            result = result && precursorLogPLower <= precursorLogP;
                        }

                        if (precursorLogPUpper) {
                            result = result && precursorLogP <= precursorLogPUpper;
                        }
                        return result;
                    });
                }
            }
        })
    </script>
    <script type="application/javascript">
        function RenderColumns(vueComponent) {
            return [
                {
                    data: null,
                    defaultContent: "",
                    width: '5%',
                    orderable: false,
                    render: function (data, type) {
                        var response = "";
                        if (type === "display") {
                            response = document.createElement("div");
                            var vueInstance = new Vue({
                                template: "#show-structure-column-template",
                            }).$mount();
                            response.appendChild(vueInstance.$el);
                        }
                        return response.innerHTML;
                    },
                },
                {
                    data: 'drug_name',
                    title: 'Drug Name',
                },
                {
                    data: 'precursor_logp',
                    title: 'Precursor logp',
                },
                {
                    data: "metabolite_InChiKey",
                    title: "Metabolite InChiKey",
                },
                {
                    data: "biosystem",
                    title: "Biosystem",
                },
                {
                    data: "metabolite_logp",
                    title: "Metabolite logp",
                },
                {
                    data: "enzyme",
                    title: "Enzyme",
                },
                {
                    data: "reaction",
                    title: "Reaction",
                },
                {
                    data: "metabolite_smile_string",
                    title: "Metabolite Smile String"
                }
            ]
        }
    </script>
    <script type="text/template"
            id="show-structure-column-template">
        <div>
            <button class="btn btn-outline-secondary show-structure-btn"
                    title="Show structure">
                <span class="fa fa-plus"></span>
            </button>
        </div>
    </script>

    <script type="text/template"
            id="structure-child-row">
        <div class="card">
            <div class="card-body">
                <label>Structure:</label>
            </div>
        </div>
    </script>
{% endblock content %}
