<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}


    <p class="lead">
        Rrepack amino acids surrounding the SNV by entering a diameter (in Angstroms)
    </p>
    <index></index>
    <script id="index-template"
            type="text-html-template">
        <div class="container">

            <div>
                <h2>
                    PDB Generator
                </h2>
                <div class="row justify-content-start">
                    <div class="col-1">

                    </div>
                    <div class="col">
                        <div class="form-group row">
                            <label class="col-2">
                                GeneID
                            </label>
                            <input class="form-control col-3"
                                   v-model="geneID"
                                   type="text"/>
                        </div>
                        <div class="form-group row">
                            <label class="col-2">
                                CCID
                            </label>
                            <input class="form-control col-3"
                                   v-model="CCID"
                                   type="text"/>
                        </div>
                        <div class="form-group row">
                            <label class="col-2">
                                Angstroms
                            </label>
                            <input class="form-control col-3"
                                   v-model.number="angstroms"
                                   type="number"/>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <button class="btn btn-primary float-right"
                                        v-on:click="check"
                                        v-bind:disabled="checkButtonDisabled">
                                    Check
                                </button>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <button class="btn btn-primary float-right"
                                        v-on:click="submit"
                                        v-bind:disabled="submitButtonDisabled">
                                    Submit
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>residues to be repacked:</p>
                            </div>
                            <div class="col-3">
                                {% verbatim %}{{ mut_seq }}{% endverbatim %}
                                <ul>
                                    <li v-for="residue in residues">
                                        {% verbatim %}{{ residue }}{% endverbatim %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">

                    </div>
                    <div class="col">

                    </div>
                </div>
            </div>
        </div>


        {#        </div>#}
    </script>
    <script type="application/javascript">
        Vue.component('index', {
            template: "#index-template",

            beforeCreate: function () {
                return {
                    geneID: "",
                    CCID: "",
                    angstroms: 0,
                    residue: [1],
                    residues: [],
                    submitClicked: false,
                    checkClicked: false,
                }
            },

            data: function () {
                return {
                    geneID: "",
                    CCID: "",
                    angstroms: 0,
                    residue: [1],
                    residues: [],
                    submitClicked: false,
                    checkClicked: false,
                }
            },
            beforeMount:
                function () {
                    this.prefillForm();
                },
            computed: {
                submitButtonDisabled: function () {
                    var ccid = this.CCID;
                    var geneid = this.geneID;
                    var angstroms = this.angstroms;
                    var checked = this.checkClicked;
                    {#var maxangstroms = ccid.replace(/\D/g, "");#}
                    var response = true;
                    if (ccid != '' &&
                        geneid != '' &&
                        angstroms != null &&
                        checked == true
                        {#(maxangstroms - angstroms > 1)#}
                    ) {
                        response = false
                    }
                    return response;
                },
                checkButtonDisabled: function () {
                    var ccid = this.CCID;
                    var geneid = this.geneID;
                    var angstroms = this.angstroms;
                    {#var maxangstroms = ccid.replace(/\D/g, "");#}
                    var response = true;
                    if (ccid != '' &&
                        geneid != '' &&
                        angstroms != null
                        {#(maxangstroms - angstroms > 1)#}
                    ) {
                        response = false
                    }
                    return response;
                }
            },

            methods: {
                update_residues: function (event) {
                    value = event.target.value;
                    this.residues = value;
                    console.log(value)
                },
                check: function () {
                    this.checkClicked = true;
                    var request = {
                        CCID: this.CCID,
                        gene_ID: this.geneID,
                        angstroms: this.angstroms,
                    }
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'api:faspr_prep' %}',
                        data: request,
                        success: function (response) {
                            this.residues = response.residue_output;
                            this.seq_length = response.sequence_length;
                            this.mut_seq = response.mut_seq;
                        }.bind(this)
                    })
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'api:cache_CCID' %}',
                        data: {CCID: this.CCID},
                        success: function (response) {
                            this.CCID = response;
                        }
                    })
                },
                submit: function () {
                    this.submitClicked = true;
                    this.dataset = this.residues;
                    this.length = this.seq_length;
                    console.log('dataset logging:');
                    console.log(this.dataset);
                    $.ajax({
                        var: residues_out = this.dataset,
                        type: 'POST',
                        url: '{% url 'api:cache_positions' %}',
                        data: {positions: this.dataset},
                        success: function (response) {
                            this.residues = response;
                        }.bind(this)
                    })
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'api:cache_length' %}',
                        data: {sequence_length: this.length},
                        success: function (response) {
                            this.seq_length = response;
                        }.bind(this)
                    })
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'api:faspr_run' %}',
                        data: 'a',
                        success: function (response) {
                        }
                    })
                    $.ajax({
                        var: CCID_out = this.CCID,
                        var: residues_out = this.residues,
                        success: function (response) {
                            window.location = '{% url 'pdbgen:pdbgen-results.html' %}?CCID=' + CCID_out + '&RES=...' + residues_out
                        }
                    })

                },
                prefillForm: function () {
                    var currentURLString = window.location.href;
                    var currentURL = new URL(currentURLString);
                    this.geneID = currentURL.searchParams.get("gene_ID");
                    this.CCID = currentURL.searchParams.get("CCID");
                    this.angstroms = currentURL.searchParams.get("angstroms");
                }
            }

        })
    </script>
{% endblock %}

