<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1 class="lead">
        Select preferred source of protein data and then
        repack amino acids (<a href="https://zhanggroup.org/FASPR/" target="_blank">using FASPR</a>)
        surrounding the SNV by entering a diameter (in Angstroms)
    </h1>
    <index></index>
    <script id="index-template"
            type="text-html-template">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2>
                        Protein Source
                    </h2>
                </div>
                <div class="col-6">
                    <h2>
                        Repacking Parameters
                    </h2>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="btn-group btn-group-toggle"
                         data-toggle="buttons"
                         style="padding-left: 10px;padding-bottom: 10px">
                        <ul class="nav nav-tabs"
                        >
                            <label class="btn btn-info" style="padding-left: 10px;padding-bottom: 10px">
                                <input type="radio"
                                       name="options"
                                       id="option1"
                                       v-on:click="changeSourceToAlpha"
                                       v-bind:class="{active: toggleAlphaFoldOn}"
                                       autocomplete="off"
                                       checked>
                                AlphaFold2
                            </label>
                            <label class="btn btn-info" style="padding-left: 10px;padding-bottom: 10px">
                                <input type="radio"
                                       name="options"
                                       id="option2"
                                       v-on:click="changeSourceToExp"
                                       v-bind:class="{active: toggleProteinOn}"
                                       autocomplete="off"
                                       v-bind:disabled="expButtonDisabled">
                                Experimental
                            </label>
                        </ul>
                    </div>
                            <div class="col-5">
                <div class="row mb-1">
                    <label class="col-6">
                        GeneID
                    </label>
                    <input class="form-control col-10"
                           v-model="geneID"
                           v-on:keyup.enter="reload"
                           type="text"/>
                </div>
                <div class="row mb-1">
                    <label class="col-6">
                        CCID
                    </label>
                    <input class="form-control col-10"
                           v-model="CCID"
                           v-on:keyup.enter="reload"
                           type="text"/>
                </div>
            </div>
                                <div class="row justify-content-start">

                <div class="col-12">
                    <div v-if="fetchingResolution">
                        Searching for experimental structures
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div v-else>
                        Experimental Structure
                        {% if  bestResolution == "false" %}
                            {% verbatim %} not available {% endverbatim %}
                        {% elif bestResolution|add:"2" == '' %}
                            Available at:
                            <b style="display:inline"
                               class="text-primary">{% verbatim %}{{ bestResolution }}{% endverbatim %}</b>
                            <p class="text" style="display:inline">Angstrom resolution</p>
                        {% else %}
                            {% verbatim %}not available{% endverbatim %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row justify-content-start">

                <div class="col-12">
                    <div v-if="fetchingpLDDT">
                        Searching for AlphaFold2 Structure
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div v-else style="display:inline">
                        AlphaFold2 Structure Available.
                        <ul>Warnings based on AF structure:</ul>
                        <ul><b class="text-primary"
                               style="display:inline">average pLDDT score: {% verbatim %}{{ plddt_avg }}{% endverbatim %}</b>
                        </ul>
                        <ul><b class="text-primary"
                               style="display:inline">pLDDT score at SNV: {% verbatim %}{{ plddt_snv }}{% endverbatim %}</b>
                        </ul>
                        <ul>
                            <b class="text-primary"
                               style="display:inline">{% verbatim %}{{ charge_change }}{% endverbatim %} </b></ul>
                        <ul><b class="text-primary"
                               style="display:inline">{% verbatim %}{{ proline_check }}{% endverbatim %} </b></ul>
                    </div>
                </div>
            </div>
                </div>
                <div class="col-6">
                    <div class="row justify-content-start">
                        <div class="col-1">
                            </div>
                        <div class="col-6">
                            <div class="form-group row">
                                <label class="col-8">
                                    Angstroms
                                </label>
                                <input class="form-control col-6"
                                       v-model.number="angstroms"
                                       v-bind:disabled="!select_all"
                                       v-on:keyup.enter="check"
                                       type="number"/>
                            </div>
                            <div class="form-group row">
                                <input type="checkbox"
                                       v-on:click="select_all"/>
                                <label class="col text-nowrap">
                                    Repack all residues on chain
                                </label>
                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    <button class="btn btn-primary float-right"
                                            v-on:click="check"
                                            v-bind:disabled="checkButtonDisabled">
                                        Check
                                    </button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    <button class="btn btn-primary float-right"
                                            v-on:click="submit"
                                            v-bind:disabled="submitButtonDisabled">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div v-if="checkClicked">
                                <div class="col">
                                    <p>Protein sequence with residues to be repacked in CAPS
                                        have an average pLDDT score of:</p>
                                    <b> {% verbatim %}{{ repack_pLDDT }}{% endverbatim %} </b>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <p class="text-break">
                                                {% verbatim %}{{ mut_seq }}{% endverbatim %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <ul>
                                                <b><p>Position that will be mutated:</p></b>
                                                <li v-for="residue in residues">
                                                    {% verbatim %}{{ residue }}{% endverbatim %}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>


    <script type="application/javascript">
        Vue.component('index', {
            template: "#index-template",

            data: function () {
                return {
                    geneID: "",
                    CCID: "",
                    angstroms: 0,
                    residues: [],
                    mut_seq: '',
                    submitClicked: false,
                    checkClicked: false,
                    selectAllClicked: false,
                    FASPR_pdb_text: '',
                    fetchingResolution: true,
                    toggleAlphaFoldOn: true,
                    toggleProteinOn: false,
                    residue: [1],
                    plddt_snv: 0,
                    plddt_avg: 0,
                    charge_change: 'checking residue charge',
                    disulfide_check: 'checking for disulfide',
                    proline_check: 'checking proline',
                    bestResolution: "no structure found",
                    repack_pLDDT: "searching",
                    fetchingpLDDT: true,
                    file_location: 'empty',
                    chain_id: 'empty',
                }
            },
            beforeMount:
                function () {
                    this.prefillForm();
                },
            computed: {
                expButtonDisabled: function () {
                    response = true;
                    var bestResolution = this.bestResolution;
                    if (bestResolution !== "no structure found" &&
                        bestResolution !== 'best structure lacks SNV site') {
                        response = false
                    }
                    return response;
                },
                submitButtonDisabled: function () {
                    var ccid = this.CCID;
                    var geneid = this.geneID;
                    var angstroms = this.angstroms;
                    var checked = this.checkClicked;
                    var response = true;
                    var repack_pLDDT = this.repack_pLDDT;
                    if (ccid != '' &&
                        geneid != '' &&
                        angstroms != null &&
                        checked == true &&
                        repack_pLDDT != 'searching' &&
                        repack_pLDDT != 'structure too large' &&
                        repack_pLDDT != 'experimental structure not suitable'
                    ) {
                        response = false
                    }
                    return response;
                },
                checkButtonDisabled: function () {
                    var ccid = this.CCID;
                    var geneid = this.geneID;
                    var angstroms = this.angstroms;
                    var response = true;
                    if (ccid != '' &&
                        geneid != '' &&
                        angstroms != null
                    ) {
                        response = false
                    }
                    return response;
                }
            },
            mounted: function () {
                var mutationData = {
                    gene_ID: this.geneID,
                    CCID: this.CCID,
                }
                $.ajax({
                    type: 'POST',
                    url: '{% url 'api:best_resolution' %}',
                    data: mutationData,
                    success: function (response) {
                        this.bestResolution = response.resolution;
                        this.file_location = response.file_location;
                        this.chain_id = response.chain_id;
                        this.fetchingResolution = false;
                    }.bind(this)
                })
                $.ajax({
                    type: 'POST',
                    url: '{% url 'api:find_plddt' %}',
                    data: mutationData,
                    success: function (response) {
                        this.plddt_snv = response.plddt_snv;
                        this.plddt_avg = response.plddt_avg;
                        this.charge_change = response.charge_change;
                        this.disulfide_check = response.disulfide_check;
                        this.proline_check = response.proline_check;
                        this.fetchingpLDDT = false;
                    }.bind(this)
                })
            },
            methods: {
                update_residues: function (event) {
                    value = event.target.value;
                    this.residues = value;
                },
                select_all: function () {
                    if (this.selectAllClicked) {
                        this.selectAllClicked = false;
                    } else {
                        this.selectAllClicked = true
                    }
                },
                changeSourceToAlpha: function () {
                    if (this.toggleAlphaFoldOn) {
                    } else {
                        this.toggleAlphaFoldOn = true;
                        this.toggleProteinOn = false;
                    }
                },
                changeSourceToExp: function () {
                    if (this.toggleAlphaFoldOn) {
                        this.toggleAlphaFoldOn = false;
                        this.toggleProteinOn = true;
                    } else {
                    }
                },
                check: function () {
                    this.checkClicked = true;
                    if (this.selectAllClicked == true) {
                        this.angstroms = 1000000000;
                    }
                    var request = {
                        CCID: this.CCID,
                        gene_ID: this.geneID,
                        angstroms: this.angstroms,
                        toggleAlphaFoldOn: this.toggleAlphaFoldOn,
                        file_location: this.file_location,
                        chain_id: this.chain_id,
                    }
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'api:faspr_prep' %}',
                        data: request,
                        success: function (response) {
                            this.residues = response.residue_output;
                            this.seq_length = response.sequence_length;
                            this.mut_seq = response.mut_seq;
                            this.repack_pLDDT = response.repack_pLDDT;
                            this.protein_location = response.protein_location;
                            $.ajax({
                                type: 'POST',
                                url: '{% url 'api:cache_CCID' %}',
                                data: {CCID: this.CCID},
                                success: function (response) {
                                    this.CCID = response;
                                }
                            })
                            this.dataset = this.residues;
                            this.length = this.seq_length;
                            this.mutated_sequence = this.mut_seq;

                            $.ajax({
                                var: residues_out = this.dataset,
                                type: 'POST',
                                url: '{% url 'api:cache_positions' %}',
                                data: {positions: this.dataset},
                                success: function (response) {
                                    this.dataset = response;
                                }
                            })
                            $.ajax({
                                type: 'POST',
                                url: '{% url 'api:cache_length' %}',
                                data: {sequence_length: this.length},
                                success: function (response) {
                                    this.seq_length = response;
                                }
                            })
                        }.bind(this)
                    })
                },

                submit: function () {
                    var _this = this;
                    this.submitClicked = true;
                    var fasprData = {
                        mutated_sequence: this.mutated_sequence,
                        protein_location: this.protein_location,
                    }
                    console.log(this.protein_location);
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'api:faspr_run' %}',
                        data: fasprData,
                        success: function (response) {
                            _this.FASPR_pdb_text = response.protein_structure;
                            if (response.protein_structure === 'error') {
                                window.alert('Experimental Structure Missing residues. Using AF.');
                            }
                            $.ajax({
                                type: 'POST',
                                url: '{% url 'api:cache_protein_structure' %}',
                                data: {protein_structure: _this.FASPR_pdb_text},
                                success: function (response) {
                                    this.protein_structure = response;
                                    $.ajax({
                                        var: CCID_out = this.CCID,
                                        var: residues_out = this.residues,
                                        success: function (response) {
                                            window.location = '{% url 'pdbgen:pdbgen-results.html' %}'
                                        }
                                    })
                                }
                            })

                        }.bind(this)
                    })

                },
                prefillForm: function () {
                    var currentURLString = window.location.href;
                    var currentURL = new URL(currentURLString);
                    this.geneID = currentURL.searchParams.get("gene_ID");
                    this.CCID = currentURL.searchParams.get("CCID");
                    this.angstroms = currentURL.searchParams.get("angstroms");
                },
                reload: function () {
                    var requestResolution = {
                        gene_ID: this.geneID,
                    }
                    this.bestResolution = 'searching';
                    this.plddt_snv = 'searching';
                    this.plddt_avg = 'searching';
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'api:best_resolution' %}',
                        data: requestResolution,
                        success: function (response) {
                            this.bestResolution = response.resolution;
                            this.file_location = response.file_location;
                            this.chain_id = response.chain_id;
                            this.fetchingResolution = false;
                        }.bind(this)
                    })
                    var requestPLDDT = {
                        gene_ID: this.geneID,
                        CCID: this.CCID,
                    }
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'api:find_plddt' %}',
                        data: requestPLDDT,
                        success: function (response) {
                            this.plddt_snv = response.plddt_snv;
                            this.plddt_avg = response.plddt_avg;
                            this.fetchingpLDDT = false;
                        }.bind(this)
                    })
                }
            }
        })
    </script>
{% endblock %}

