<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1 class="lead">
        Select preferred source of protein data and then repack amino acids
        surrounding the SNV by entering a diameter (in Angstroms)
    </h1>
    <index></index>
    <script id="index-template"
            type="text-html-template">
        <div class="container">
            <div>
                <h2>
                    Protein Source
                </h2>
                <div class="row justify-content-start">
                    <div class="col-1">
                    </div>
                    <div class="col-2">
                        <p>
                            Experimental Structure Available
                        </p>
                    </div>
                    <div class="col-2">
                        <div class="row mb-2">
                            <label class="col-5">
                                 Resolution
                            </label>
                            <input class="form-control col-5"
                                   v-model="Resolution"
                                   type="text"/>
                        </div>
                    </div>
{#                    <div class="col-2">#}
{#                        <button type="button" class="btn btn-default navbar-btn">Prefer Exp</button>#}
{#                        <button type="button" class="btn btn-default navbar-btn">Prefer AF</button>#}
{#                    </div>#}
                    <div class="col-2">
                        <p>
                            AlphaFold2 Structure
                        </p>
                    </div>
                    <div class="col-2">
                        <div class="row mb-1">
                            <label class="col-5">
                                pLDDT at SNV
                            </label>
                            <input class="form-control col-5"
                                   v-model="minpLDDT"
                                   type="text"/>
                        </div>
                    </div>
                </div>
                <h2>
                    Repacking Parameters
                </h2>
                <div class="row justify-content-start">
                    <div class="col-1">
                    </div>
                    <div class="col-5">
                        <div class="row mb-1">
                            <label class="col-4">
                                GeneID
                            </label>
                            <input class="form-control col-8"
                                   v-model="geneID"
                                   type="text"/>
                        </div>
                        <div class="row mb-1">
                            <label class="col-4">
                                CCID
                            </label>
                            <input class="form-control col-8"
                                   v-model="CCID"
                                   type="text"/>
                        </div>
                        <div class="form-group row">
                            <label class="col-4">
                                Angstroms
                            </label>
                            <input class="form-control col-8"
                                   v-model.number="angstroms"
                                    {#                                   v-bind:disabled=""#}
                                   type="number"/>
                        </div>
                        <div class="form-group row">
                            <input type="checkbox"
                                   v-on:click="select_all"/>
                            <label class="col text-nowrap">
                                Select all residues
                            </label>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <button class="btn btn-primary float-right"
                                        v-on:click="check"
                                        v-bind:disabled="checkButtonDisabled">
                                    Check
                                </button>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <button class="btn btn-primary float-right"
                                        v-on:click="submit"
                                        v-bind:disabled="submitButtonDisabled">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <p>Protein sequence with residues to be repacked in CAPS:</p>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col">
                                        <p class="text-break">
                                            {% verbatim %}{{ mut_seq }}{% endverbatim %}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul>
                                            <li v-for="residue in residues">
                                                {% verbatim %}{{ residue }}{% endverbatim %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {#        </div>#}
    </script>
    <script type="application/javascript">
        Vue.component('index', {
            template: "#index-template",

            beforeCreate: function () {
                return {
                    geneID: "",
                    CCID: "",
                    angstroms: 0,
                    residue: [1],
                    residues: [],
                    mut_seq: '',
                    submitClicked: false,
                    checkClicked: false,
                    selectAllClicked: false,
                    FASPR_pdb_text: '',
                    minpLDDT: 90,
                    Resolution: 5,
                }
            },
            data: function () {
                return {
                    geneID: "",
                    CCID: "",
                    angstroms: 0,
                    residue: [1],
                    residues: [],
                    mut_seq: '',
                    submitClicked: false,
                    checkClicked: false,
                    selectAllClicked: false,
                    FASPR_pdb_text: '',
                    minpLDDT: 90,
                    Resolution: 5,
                }
            },
            beforeMount:
                function () {
                    this.prefillForm();
                },
            computed: {
                submitButtonDisabled: function () {
                    var ccid = this.CCID;
                    var geneid = this.geneID;
                    var angstroms = this.angstroms;
                    var checked = this.checkClicked;
                    {#var maxangstroms = ccid.replace(/\D/g, "");#}
                    var response = true;
                    if (ccid != '' &&
                        geneid != '' &&
                        angstroms != null &&
                        checked == true
                        {#(maxangstroms - angstroms > 1)#}
                    ) {
                        response = false
                    }
                    return response;
                },
                checkButtonDisabled: function () {
                    var ccid = this.CCID;
                    var geneid = this.geneID;
                    var angstroms = this.angstroms;
                    {#var selectall = this.selectAllClicked;#}
                    {#var maxangstroms = ccid.replace(/\D/g, "");#}
                    var response = true;
                    if (ccid != '' &&
                        geneid != '' &&
                        angstroms != null
                        {#(maxangstroms - angstroms > 1)#}
                    ) {
                        response = false
                    }
                    return response;
                }
            },

            methods: {
                update_residues: function (event) {
                    value = event.target.value;
                    this.residues = value;
                },
                select_all: function () {
                    this.selectAllClicked = true;
                },
                check: function () {
                    this.checkClicked = true;
                    if (this.selectAllClicked == true) {
                        this.angstroms = 1000000000;
                    }
                    var request = {
                        CCID: this.CCID,
                        gene_ID: this.geneID,
                        angstroms: this.angstroms,
                    }
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'api:faspr_prep' %}',
                        data: request,
                        success: function (response) {
                            this.residues = response.residue_output;
                            this.seq_length = response.sequence_length;
                            this.mut_seq = response.mut_seq;
                        }.bind(this)
                    })
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'api:cache_CCID' %}',
                        data: {CCID: this.CCID},
                        success: function (response) {
                            this.CCID = response;
                        }
                    })
                },
                submit: function () {
                    var _this = this;
                    this.submitClicked = true;
                    this.dataset = this.residues;
                    this.length = this.seq_length;

                    $.ajax({
                        var: residues_out = this.dataset,
                        type: 'POST',
                        url: '{% url 'api:cache_positions' %}',
                        data: {positions: _this.dataset},
                        success: function (response) {
                            _this.dataset = response;
                        }.bind(this)
                    })
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'api:cache_length' %}',
                        data: {sequence_length: this.length},
                        success: function (response) {
                            this.seq_length = response;
                        }.bind(this)
                    })
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'api:faspr_run' %}',
                        data: '',
                        success: function (response) {
                            _this.FASPR_pdb_text = response.protein_structure;

                            $.ajax({
                                type: 'POST',
                                url: '{% url 'api:cache_protein_structure' %}',
                                data: {protein_structure: _this.FASPR_pdb_text},
                                success: function (response) {
                                }
                            })
                            $.ajax({
                                var: CCID_out = this.CCID,
                                var: residues_out = this.residues,
                                success: function (response) {
                                    window.location = '{% url 'pdbgen:pdbgen-results.html' %}'
                                }
                            })
                        }.bind(this)
                    })


                },
                prefillForm: function () {
                    var currentURLString = window.location.href;
                    var currentURL = new URL(currentURLString);
                    this.geneID = currentURL.searchParams.get("gene_ID");
                    this.CCID = currentURL.searchParams.get("CCID");
                    this.angstroms = currentURL.searchParams.get("angstroms");
                }
            }

        })
    </script>
{% endblock %}

